[2016-06-21 12:09] 9Morello opened #1 "Is there a way to help without getting spoilers?"
Well, title says it all. I'd love to help the manual process if I can, but is it possible to do so without getting spoilers?

[2016-06-21 13:54] ItaloKnox commented on #1
Not at all since you need to read the scripts to manually fix them.

[2016-06-21 14:23] 9Morello commented on #1
@ItaloKnox As expected. Anyway, thanks for the good work, looking forward to it.

[2016-06-21 14:26] #1 closed

[2016-06-21 14:37] enumag commented on #1
@ItaloKnox I don't mind spoilers (I've seen the anime) - is there a way to help if I don't know japanese?

By the way have you seen Umineko mod anywhere?

[2016-06-21 15:26] ItaloKnox commented on #1
Yes and no, usually it's more like comparing a list and seeing if the japanese text matches. [That's how it works](http://i.imgur.com/ySMAgSE.png).

Sometimes the text doesn't fully match, so understanding a little of japanese is always good. But you can work through it just fine just by searching. The voice list will always follow the script, so it's not that hard, just boring.

By the way, Umine

[2016-06-21 15:39] enumag commented on #1
I don't think I'd be able to compare the text quickly enough by eyes withought understanding the symbols... Could part of the process be done automatically by some script?

Good to hear about Umineko. :-)

[2016-06-21 16:25] ItaloKnox commented on #1
Yes, most of the process is actually automated. The anon who created the script didn't show up yet, so that's why there's no progress. We have to wait until he shows up or make a new script, since he didn't share his work.

[2016-07-02 20:31] cucochukoluko opened #2 "Programmer looking forward to help"
Basically I'm a huge fan of 07h expansion's games, and I've played the higurashi steam series with the patches that you guys made. I saw recently that you need help with the code, since the one who was doing that job "dissapeared". So... Tell me exactly what do you need. Which language are you using? Are you working with an existing game engine? etc

[2016-07-02 21:40] ItaloKnox commented on #2
Hey! Thanks for the interest. :)

Here's a complete breakdown of what needs to be done:
1. First, the resources. The full list of voice files and its respectives dialogs can be found [here](https://github.com/higurashi-mod/tatarigoroshi/tree/master/dev).
2. Using the list as a base, it should search each string and find a match for the text. Sometimes the string is broken into multiple lines, so b

[2016-07-04 05:55] enumag commented on #2
@cucochukoluko Are you working on this then? I should be able to write it as well but it's pointless to do so if you're on it. Also can you post your work here on GitHub so that we have the source code this time?

@ItaloKnox This is basically what the original script did, right? Is there anything else you would like the new script to do? Did the original have any edge-case issues we should be care

[2016-07-04 06:10] ItaloKnox commented on #2
Yeah, however I never touched nor seen the original script. My coding skills are still very limited to work on something like this, so I can only offer the assumption that the original script worked like that.

Anyway, I think it's hard to have a perfect script, so if we can maintain the margin of error around 30% like always, there's nothing to improve on. The biggest issue from the previous scri

[2016-07-04 06:30] enumag commented on #2
Why not? But we need to wait for Umineko to come out first, right?

[2016-07-04 06:35] ItaloKnox commented on #2
It's coming out this friday already. I can't gift you the Steam version (regional restrictions as always), but if you want I can share with you my MangaGamer version.

I think there 99% of chances of Umineko following the exact same script pattern of Umineko. We can't reuse Higurashi's code, but for Umineko we have the script from the previous engine with all voices already placed. It's "just" a v

[2016-07-04 08:33] enumag commented on #2
Not that I want to steal @cucochukoluko his credit but after thinking about it more it really seamed easy. After two hours of work I have a working prototype of the script for Higurashi.

Of course there are quite a few cases where it failes:
- Some lines are split to two OutputLine commands in the tata script
  - This wouldn't be easy to fix. Not sure if it's worth fixing.
- Everything that has a

[2016-07-04 08:41] ItaloKnox commented on #2
Looks great, I think you are not so far from the original script.

Can you upload tata_001 and/or tata_tips_01 after running your script? Maybe the issues you described are just the usual issues we fix while editing.

[2016-07-04 08:58] enumag commented on #2
Here you go.

[tata_001.txt](https://github.com/higurashi-mod/tatarigoroshi/files/345945/tata_001.txt) (inserted 516 lines)
[tata_tips_01.txt](https://github.com/higurashi-mod/tatarigoroshi/files/345946/tata_tips_01.txt) (inserted 19 lines)

By the way that logic with remembering the last file where a match was found is not implemented yet. On the other hand I fixed some cases where the line didn'

[2016-07-04 09:07] enumag commented on #2
Is it better for you if the script inserts even lines where it is not completely sure and might insert something wrong (like the for now missing logic with the last matching file) or should the script rather do nothing?

[2016-07-04 09:10] ItaloKnox commented on #2
tata_001 looks a bit confusing, but I think the issue here is that the PS3 voices doesn't cover the entire dialog. Looks fine after a certain point.
tata_tips_01 looks a lot better, though it seems to miss more dialogs than usual.

How hard would it be to let the script have a little more freedom when finding the matches? Let's say, if he can't find an exact match, then look for one that is at lea

[2016-07-04 09:18] enumag commented on #2
Finding exact match in an index is easy. Non-exact matches are not easy or rather I've never done that before. I'll try using Levenshtein distance algorithm...

[2016-07-04 09:26] ItaloKnox commented on #2
Take it easy and don't try to rush things. I sent an invite so you can join the repo and push your own changes.

I'm going to off right now, but you are free to upload your scripts after your are satisfied with your code. Just don't forget to put them all into a folder called Update/.

[2016-07-04 10:26] enumag commented on #2
I've implemented the Levenshtein distance thing and the prefer last file match. Also it's trying to match the beginning of the line so most multi-command lines should be fine now. The script now inserts 54 lines to tata_tips_01 while maintaining a reasonable certainity of them being correct.

tata_001 is missing many lines in the beginning but I couldn't find them manually either so the text is pr

[2016-07-04 12:18] enumag commented on #2
See #3

[2016-07-04 15:04] cucochukoluko commented on #2
I'm starting this right now, yesterday I was out all day. I don't have questions for now. Sorry for the late reply.

[2016-07-04 15:05] cucochukoluko commented on #2
enumag did you already do it? Yes, it's really easy :P

[2016-07-04 15:05] cucochukoluko commented on #2
Well I guess I'll do it just in case

[2016-07-04 15:06] enumag commented on #2
@cucochukoluko Yeah I already did.

[2016-07-04 15:10] cucochukoluko commented on #2
ok, tell me guys if you need something else.

[2016-07-04 19:42] enumag commented on #2
@cucochukoluko Sorry for stealing the opportunity from you. It was not as easy as it originally seemed but still only took a few hours. We'll appriciate any ideas for improving the script or the patch. If you're familiar with PHP it would be nice if you could code-review my script when I push it to github.

[2016-07-04 21:09] enumag commented on #2
If anyone is interested here is the current script: https://github.com/07th-mod/voice-inserter

[2016-07-04 21:09] #2 closed

[2016-07-04 22:36] cucochukoluko commented on #2
I don't know php, I was gonna do it in C. But I did take a look at the logic and it's fine, good file handling. No worries, good job man ;).

[2016-07-07 21:57] 9Morello opened #4 "Suggestion: add to the readme that this mod adds the CG scenes"
The Steam version doesn't use CG at any scenes, but the patches available here add them. I've searched a bit and your releases seem to be the firsts that add the CG to a PC version. I think it would be nice to point this in the readme file.

[2016-07-07 23:28] ItaloKnox commented on #4
Yeah, actually this is not noted yet because the patch still doesn't support CGs (since they require coding directly into the script). We're working on that already, so when it's ready we'll update everything.

[2016-07-07 23:28] #4 closed

[2016-07-11 01:05] dpgagnon opened #5 "Error in tata_013_02"
The file tat_013_02 file fails to compile:

[code]

I was able to fix it by adding: `OutputLine(NULL, "　小宮山です。",`

Like so:
[code]
I don't have this forked or anything so I'm not bothering to do a pull request :)

[2016-07-11 01:26] ItaloKnox commented on #5
Thanks for the heads up. I just pushed a new version to fix this issue. 👍

[2016-07-11 01:26] #5 closed

[2016-07-17 13:10] jerome0810 opened #6 "Stuck on All-Cast Review Session"
The game is stuck on the scene with everyone laughing on Tomitake. After hearing them laugh, I could no longer proceed with the game. After deleting the scripts and verifying the game files, I was able to proceed and finish the whole game.

Here is a link of where it stops
http://steamcommunity.com/sharedfiles/filedetails/?id=726251776

EDIT:
I tried editing the script and deleting this part

[2016-07-17 14:39] ItaloKnox commented on #6
Thanks for the report. Looks like we hit the sound limit, so that's why it stops working.

Can you try to load your save using this file? If it doesn't work there is an easy way of pushing a new update.
[omake_03.txt](https://github.com/07th-mod/tatarigoroshi/files/367903/omake_03.txt)

[2016-07-17 14:52] jerome0810 commented on #6
I tried using the file and it did work. Thanks for the update!

[2016-07-17 14:55] ItaloKnox commented on #6
That's great! Thanks for letting me know, I'll push a new update but you do not need to update yours since you are already using the new file. 👍

[2016-07-17 14:55] #6 closed

[2016-08-12 21:22] enumag opened #7 "Any news on the Graphics mod?"
I'm still waiting for it. ;-)

[2016-08-12 23:27] Maelstrom1 commented on #7
As am I, but it will take some time. I am waiting for it to be stable enough for a first time playthrough.

[2016-08-12 23:43] ItaloKnox commented on #7
The guy who used to work on it (GuraMan) disappeared. I'm giving the last touches on Umineko and I'll come back to make at least a simple graphics patch (without CGs and weather-based sprites). After I get that done we can start working through the CGs and then the weather/time sprites.

[2016-08-13 06:07] enumag commented on #7
Damn that's what I was afraid of.

What is so difficult about CGs? Are they named differently on the console and be matched manually?

[2016-08-13 07:12] ItaloKnox commented on #7
Actually, not much. You just need to see a video or play the original game and find where the CGs happen. Then you code them manually in the game.

[2016-09-14 18:32] enumag commented on #7
@ItaloKnox Any news? I'm starting to worry we might not get Tatari done before Himatsu is released.

[2016-09-14 18:33] ItaloKnox commented on #7
Yeah, not much, actually. GuraMan is still missing, I'm doing a last check on Umineko and will come back to finish this asap. Pretty bad condition we are with this patch.

[2016-09-14 18:47] enumag commented on #7
Good to hear. It's taking a bit long but that's understandable since Umineko is much longer than a Higurashi chapter and the scripts are more complicated as well.

I read on the internet that GuraMan actually did make some proggress on this before he disappeared. Unfortunately I was unable to find his unfinished work anywhere. Did you have any luck on that front?

[2016-09-14 18:53] ItaloKnox commented on #7
Nope, nothing. He stopped coming to the 4chan threads, so I never found a way of reaching him. Dunno what actually happened to him, but I think we can just take over and at least do a partial patch (without CGs and weather sprites/BGs). It shouldn't take too long to put a patch together, my only issue here is that I have a very slow upload speed, so I usually have to do everything through a remote

[2016-09-14 19:25] enumag commented on #7
Nice to hear. :-)

Never mind about weather sprites/BGs. I might be able to generate those or if I'm not I'll consult with my friend who is good with PhotoShop. But what's the issue with CGs? I'd like to have those. :-P

Too bad with the upload speed. :-(

[2016-09-14 19:28] ItaloKnox commented on #7
Well, there's no issue. The point is to just release a quick patch to add the PS3 graphics and work through the script changes (CGs and weather) after that. If we wait to release everything together, it might take way longer than two weeks to build this patch.

[2016-09-14 19:30] enumag commented on #7
Oh you're right of course. Forgot that basic graphics patch does not require any script changes while CGs and weather do. Sorry. :-)

[2016-09-17 19:20] enumag commented on #7
Himatsu will be out on October 7th. That's even sooner than I thought. :-)

[2016-09-18 01:40] ItaloKnox commented on #7
Well, fuck, I need to hurry. I'll try to put everything together tomorrow and do something about Higurashi right after.

[2016-09-18 18:34] enumag commented on #7
No need to rush too much. First there are still about 3 weeks until Himatsu. Second quality is more important than speed. Third (and most importantly) I really don't want you to overwork yourself and feel annoyed as a result. So don't worry too much about possible delays. Just do it whenever you feel like doing it and let us know if you would appriciate some help.

[2016-09-19 19:56] ItaloKnox commented on #7
Nah, I don't think you should worry about that. Now that Umineko patch got released, I can finally focus on Higurashi. Let's see what I can finish by next week.

[2016-10-07 13:48] DoctorDiablo commented on #7
Anything I can do to help with Higurashi?  Chapter 4 releases today and it would probably be good to wrap up ch3 before starting on 4.

[2016-10-07 15:59] ItaloKnox commented on #7
What I need right now to put the patch together is to compare the Watanagashi graphics patch with the sprites/BGs of Tatarigoroshi. Then we compile a list of matches and see which sprites/BGs from the Watanagashi patch we won't need and which sprites/BGs from Tatarigoroshi we need to add to the patch.

Looks a little confusing but it's pretty much:
- build a list of matches between Watanagashi gra

[2016-10-07 16:24] enumag commented on #7
Sounds easy enough. I think I could find some time on sunday. What about you @DoctorDiablo? Frankly it will probably take longer to download the resources than to actually do it.

[2016-10-07 16:25] enumag commented on #7
By the way is it possible that some of the images were in Onikakushi but not in Watanagashi?

[2016-10-07 16:28] ItaloKnox commented on #7
Maybe, it's definitely possible. Last time I started working on this, pretty much all images were covered by Watanagashi, so I didn't stop to check if Onikakushi had the remaining files.

It's actually a pretty damn easy patch to do, but my upload speeds are terrible, so I take a longer time to finish this stuff because I do everything on a remote server. If I didn't, just guess how long it would

[2016-10-07 16:32] enumag commented on #7
Yeah that sure sucks. :-/ Don't worry @DoctorDiablo or me can probably take care of this.

We could do the same for Himatsu too while we're at it.

Which reminds me I'll need to run the automated voice inserts for Himatsu - do we have the resources for that?

[2016-10-07 16:45] ItaloKnox commented on #7
Many thanks for that, I can focus more on finishing the scripts while you guys are working on the graphics.

Now for Himatsu, I'm currently waiting for one of these two scenarios:
1- MangaGamer turn some affiliate earnings into store credit
or
2- the game releases on Steam

All scripts should be uploaded in at most ~6 hours. Maybe sooner if MangaGamer answers my email.

[2016-10-07 16:50] enumag commented on #7
I was talking about the PS3 resources. I'll have my own copy of Himatsu soon.

[2016-10-07 16:58] ItaloKnox commented on #7
Oh, my bad. Everything should be in the link I posted above. I don't know which folders are used yet, but I can check later.

[2016-10-07 18:15] DoctorDiablo commented on #7
@enumag, I'll take a crack at it tonight.  If I can't handle it I'll let you know and you can take over.

[2016-10-07 18:18] enumag commented on #7
@DoctorDiablo Oki, I'll look at the voice-lines insertion for Himatsu then.

[2016-10-08 18:37] ItaloKnox commented on #7
Just using this thread to give a heads up about Himatsu: repository is now open and vanilla scripts uploaded.

Looks like I can finish everything in a week. Looks smaller than Tatari.

[2016-10-08 18:53] enumag commented on #7
I was waiting for the steam release but their technical complications are still not resolved. Well whatever I can run the voice inserter now.

[2016-10-08 19:05] enumag commented on #7
The script it running now. it will take a few minutes to complete. According to my info Himatsu is about half the length of the other chapters so it shouldn't be too much work.

[2016-10-08 19:31] enumag commented on #7
https://github.com/07th-mod/himatsubushi/issues/1

[2016-10-08 21:49] DoctorDiablo commented on #7
Ok, I finished up the Tatarigoroshi graphics patch.  Download it here: http://www.mediafire.com/file/sa9vl1y02784689/Higurashi+Ch.3+-+PS3+Graphics+Mod+1.0.rar

Also, you have to update the script to get widescreen working.  Drop this file in the Update folder: http://www.mediafire.com/file/57s97atsdxkc7vv/init.txt

It covers all the sprites, backgrounds, and effects.  There were 4 UI images I skip

[2016-10-08 23:04] ItaloKnox commented on #7
Oh, great work! I'm going to update the repository and release a new version. :)

[2016-10-09 06:39] enumag commented on #7
Nice work @DoctorDiablo! I've tried your patch and it's working nicely indeed. :-)

---

Now I think there are three things left.

First the PS3 version contains more character sprites than the new MG games - more faces, more clothes etc. Our patches for both Onikakushi and Watanagashi are using them. Tatari of course doesn't. I'm not quite sure how much work it would mean to do this and if it's w

[2016-10-09 06:52] ItaloKnox commented on #7
I'm not entirely sure how he got around it, since it seems our PS3 script only lists the entire text and voices, no mention of CGs or sprites. Maybe he owns the game? I have Higurashi Sui on Vita but I never really played it. Playing both side by side would take too much time, so maybe we can find a more effective way of doing it. Perhaps there's a Youtube walkthrough somewhere, so skipping throug

[2016-10-09 09:12] Kamlingen commented on #7
I found the scenario images that GuraMan probly made before he went dark.

https://mega.nz/#F!BgxggTLb!w6hBR7awSRfb5jW3ohiiQQ

[2016-10-09 14:43] DoctorDiablo commented on #7
For the sunset/night/rain variants, there are actual backgrounds in the PS3 assets that we just need to drop in and modify the script to point to.  But for the sprites it looks like we have to create orange/blue tinted variations of all the sprites used in those scenes (unless there's some way in the engine to script in a hue shift while rendering the sprites?).

We can fairly well identify the su

[2016-10-09 15:12] enumag commented on #7
I don't think the script has a built-in capability to do such thing. Or at least if it does then GuraMan didn't know about it - the patches he contributed contain the sprites with altered colors. Unfortunately I don't think he ever shared how exactly he created them.

Good note with what bgs we should look for to switch the weather. That will certainly help.

I couldn't find a youtube playthrough

[2016-10-09 17:43] RukaWasTaken commented on #7
I found a playthrough of Sui on youtube, however it's all separated, from what I could gather it works like this: the uploader separated events from before/during watanagashi (maybe the watanagashi is the point when the routes get locked?), "bad ends" (not sure which arcs these fit into, opened two videos and both had Satoshi & Sonozaki Akane in them, that's all I could gather) and lastly, the eve

[2016-10-10 01:27] DoctorDiablo commented on #7
Nice, that's really helpful.

I tried using google translate to make navigating the videos easier... but the results were hilariously bad:
PS3 Higurashi nifty balancing a spinning washtub Hen # 7 sinister something

[2016-10-12 12:01] Grelo commented on #7
Hi guys,
I tried to make weather sprites for Higurashi ch.3 . I wanted to look them similar to GuraGuras and i hope its close enough :D . In addition i pack them with all weather bgs which i found in PS3 assets.
You can use them to complete the full graphic mod. If u want i can make zoom weather sprites too in future... i dont know which ones this chapter is using so i would be stuck making all of

[2016-10-12 12:28] enumag commented on #7
@Grelo I was trying to write program to generate the weather sprites automatically. Unfortunately I was unable to determine the right algorithm to match GuraMan's sprites so that's on hold for now. Yours look pretty well done. Thanks! :-) Can I ask how you made them?

As for how to add CGs and sprites into the script - it's hard to tell what went wrong. Maybe if you upload your work we can fix the

[2016-10-12 13:12] Grelo commented on #7
@enumag I made the sprites in Photoshop playing with saturation, lightness, exposure, temperature etc. :)

Ok i upload the files i made but dont laugh im worse than amateur :D

[tata_001.txt](https://github.com/07th-mod/tatarigoroshi/files/524571/tata_001.txt)
[tata_002.txt](https://github.com/07th-mod/tatarigoroshi/files/524572/tata_002.txt)

if u need corresponding files (cgs, bgs) to these chan

[2016-10-12 19:42] enumag commented on #7
@Grelo Good. I'll try it on saturday. I don't have much time until then.

I don't think I have the corresponding CGs available. I mean they're probably somewhere in [these](https://mega.nz/#F!SRt1DTKI!0vSWMtBLaa2VO0bDgfzb7A) zip files but I'm not sure how quickly I can find them there. Do you by any chance know where they are? If not could you upload them?

[2016-10-13 10:27] Grelo commented on #7
Okay i tried to correct my mistakes in day 2 and now it looks pretty good too. I added weather sprites and bgs (not zoom).

When u have time u can check if its ok. I can continue with this method and do all files but with slower speed.

I uploaded my whole CGAlt so u can download it(its tata01 and 02 only) + new version of the files i put there yesterday.

[https://mega.nz/#!QMc0FT5A!D0cl05p6DaehX

[2016-10-14 08:04] ItaloKnox commented on #7
I'm a little ashamed to say but Overwatch has been sucking my life since the newest event started, so sorry about the radio silence about a new graphics update. Let me try to get a rundown about this.

@Grelo I see your scripts have the voices already in, did you use the latest voice patch when you did it? That would save us the trouble of merging the contents, but if you didn't nothing that a cou

[2016-10-14 10:49] Grelo commented on #7
@ItaloKnox Yep im using your latest voice patch. I finished 5 scripts already so with a slow tempo i continue to the next......
When i finish it all ill post it here and u can polish it a little.

Thanks for tips.

[2016-10-15 15:37] enumag commented on #7
@ItaloKnox Nope the CGs were not there. For now I'm using the files from @Grelo. Also I think it's a bit too early for a new Tatari release. Aside from the changes for days 1 and 2 by @Grelo which I'm going over now there is nothing new since the last release.

@Grelo I've gone over 1/3 of the first day and you've indeed done a great job! I found some lines where voices didn't match the sprites an

[2016-10-15 15:59] Grelo commented on #7
@enumag Just wait 2-3 days. Ill finish whole tatari graphic mod by then and upload it here.....then u can take a look on whole chapter.
Im done with tata_012.
And yes im not familiar with git.

[2016-10-15 19:05] enumag commented on #7
@Grelo Don't worry, it will take me at least that much time to go through the first 2 days you've already posted. I don't have nearly as much time for this as I would like to. No experience with git does not matter, I will merge the changes for you.

[2016-10-15 21:34] Grelo commented on #7
Ok guys i finished it today since there were not much work left....finally. I have it in FHD (CGs, BGs, Sprites).
Feel free to polish and release it.  Himatsu later maybe :D .
ENJOY !!!

Tatarigoroshi full PS3 graphic mod + scripts (with voices too).

[https://mega.nz/#!hQ91WYoa!7zWIoJDKMi_6kqK9CqgEomQ5hZU9U4hIvK1sDBBU90w](https://mega.nz/#!hQ91WYoa!7zWIoJDKMi_6kqK9CqgEomQ5hZU9U4hIvK1sDBBU90w)

Im

[2016-10-15 22:04] Miguel202 commented on #7
@Grelo  does it have the CG Art?

[2016-10-16 06:27] enumag commented on #7
@Grelo I've created a PR with your changes: https://github.com/07th-mod/tatarigoroshi/pull/8. There is a question for you too so can you check it out?

Anyway thank you very much for your work! If you decide to help us with Himatsu or any future episode we'll greatly appriciate it as well.

[2016-10-18 16:55] Kamlingen opened #10 "tata_010_04.txt bug"
There is a bunch of 1's on line 1 in tata_010_04.txt that hinder the voices to play.

[2016-10-18 17:50] #10 closed

[2016-10-18 17:50] enumag commented on #10
@Kamlingen Thanks for reporting!

[2016-10-19 22:57] DoctorDiablo commented on #7
I extracted the text from the script files and ran it through Microsoft Word spellcheck.  It identified about 50 actual typos and a crapload of false positives.  @enumag, I'll let you finish the script updates you've been working on, then I can add these fixes on top of them.

[2016-10-21 21:02] mistermoomoo commented on #7
Any estimate on when CGs will be done? I'm really looking forward to playing this.

[2016-10-21 21:14] Kamlingen commented on #7
@mistermoomoo The CG patch is done and you can download it from Grelo in this thread. If you are waiting for the polished version it will probably take quite some time before it's done.

[2016-10-21 21:15] mistermoomoo commented on #7
@Kamlingen oh! Thank you!

[2016-10-21 21:36] enumag commented on #7
Well it seems that my speed on polishing the patch is about 1 in-game day per real-time week so it will take very long. On the other hand @Grelo did a very good job already and from what I can tell there isn't much for me to fix anyway. Personally I recommend playing now rather than waiting.

[2016-10-21 22:26] ItaloKnox commented on #7
That's partially my fault, I guess. I'm finishing the last three Himatsu scripts, so I didn't push a new update.

It should be already posted now, Himatsu is also probably coming out very soon.

[2016-10-21 22:28] mistermoomoo commented on #7
You guys are great! Thank you for doing this

[2016-10-21 22:56] DifDebik commented on #7
With this patch after the scene with found body, when Keichi and others talk about their food it shows nothing but black screen and text. Is it broken or I haven't installed it properly?

[2016-10-21 23:06] mistermoomoo commented on #7
Just finished the first section, everything seems to be working great. The parts that were black screens in the 1.0 patch are now CGs, great work guys.

[2016-10-21 23:08] ItaloKnox commented on #7
@D0odler
There's a chance you didn't clear the CompiledUpdateScripts folder before running the patch. This will make the game rebuild the scripts and use the new images.

[2016-10-21 23:48] Kamlingen commented on #7
Maybe this can be used?

![ex_otsu_wata](https://cloud.githubusercontent.com/assets/22724316/19614821/0f89205a-97f9-11e6-83a9-917773e849f6.png)

[2016-10-22 07:48] Grelo commented on #7
Hi guys, i created graphic mod for high resolution monitors (1920x1080...etc) and those who want better looking art overall (bit colour, sharpening etc.)
Its recommended to use it with the most recent graphic patch.
The file size is pretty big but the result should be positive, at least for me it is.
If you want i can upload other chapters too.
I consider it -Final- Enjoy :)

Tatarigoroshi:
https:

[2016-10-22 09:57] DifDebik commented on #7
@ItaloKnox Oh right. Thanks a lot.

[2016-10-22 10:24] Kamlingen commented on #7
@Grelo The Tatarigoroshi graphic mod contains the Onikakushi files.

[2016-10-22 11:08] Grelo commented on #7
@Kamlingen Sorry, my fault. Fixed.

[2016-10-22 12:45] mistermoomoo commented on #7
@Grelo You're a hero

[2016-10-22 18:44] Kamlingen commented on #7
Not sure if this is something to bother with but just wanted to report it.
tata_kuruma01-07 should be using bg_103a instead of bg_100.

[2016-10-23 12:25] Grelo commented on #7
@Kamlingen I was aware of it.... it would require doing them manually, because of different bg but OK screw it. It was easy, they are not the same as old ones but im using them. Here you go, enjoy. :)

https://mega.nz/#!4EsTUBBL!l2aKGnDVStXxC43i4a0LZJ2_MfLmt_auSWCaa6pU9K0

As for "New chapter unlocked" BGs you need only to rename them and place it to CGAlt folder but OK....here for all chapters ex

[2016-10-23 15:53] Kamlingen commented on #7
@Grelo Looks great, thanks for helping out on these petty complaints.

[2016-10-23 16:34] Grelo commented on #7
@Kamlingen Im glad, that i helped :)

[2016-10-23 19:31] enumag opened #11 "Missing voice file"
@ItaloKnox I'm going through the second day of Tatari and I noticed [this line](https://github.com/07th-mod/tatarigoroshi/blob/1e36d5b0f93541bdc12f63461b4882c7e9e1dd9f/Update/tata_002.txt#L4121-L4122) doesn't have a voice file. Considering other Satoko's lines near this one the file should be named S19/04/500400395 - but it does not exist in my game files. Could it be somewhere else? I mean there

[2016-10-23 20:21] ItaloKnox commented on #11
It seems this line is one of these odd cases where some lines are removed from the PS3 version without any clear reason. We can try to find this voice file using the PS2 voices, but I don't remember if they come with the script. The two voice packs are [here](https://mega.nz/#F!SRt1DTKI!0vSWMtBLaa2VO0bDgfzb7A), if you want to try. I can also take a look but not today, my third world internet isn't

[2016-10-23 20:36] enumag commented on #11
I found it in there, thanks! ;-) I'll send a pull request.

[2016-10-23 20:36] #11 closed

[2016-10-24 01:00] ItaloKnox commented on #7
There's already some new development worth of a new version, what should I include from this thread since @Grelo's 1gb patch (around a week ago)?

[2016-10-24 07:22] Grelo commented on #7
@ItaloKnox I dont know if the High Res. mod is worth the size ask others for feedback :D for me it is, anyway its the same content as 1GB mod.
Other releases you should include but, it would be better to merge them to previously mentioned mod, i can update complete whole folder but have only the high res. one.

[2016-10-24 09:02] ItaloKnox commented on #7
Yeah, there's definitely a public for the hi-res mod. I'm going to update the readme and the wiki to reflect that.

By the way, did you bundle the whole Update folder in these patches or only the patched init?

[2016-10-24 09:21] Grelo commented on #7
@ItaloKnox Neither, just CGAlt folder. You can bundle latest Update folder.

[2016-10-25 03:08] Ohagi-Chan commented on #7
@Grelo
Hey, I run a Steam group called Are You Ready For Watanagashi? and one of our members pointed out your mod.

Would you mind if we add a link to it on this page?
http://steamcommunity.com/groups/AYRFWata/discussions/0/451848855000361663/

[2016-10-25 06:27] Grelo commented on #7
@Ohagi-Chan Feel free to add it. :)

[2016-10-25 09:47] Grelo commented on #7
@ItaloKnox Can u put these changes to the next release? 1 updated script + 2 images (mistakes).

[tata_012.txt](https://github.com/07th-mod/tatarigoroshi/files/550209/tata_012.txt)

https://mega.nz/#!0dtHFZDa!bnwHYXNESL44hdxUEOoE4DQ9B2IlcSAKitYyik15b5I

[2016-10-28 20:37] Kamlingen opened #15 "Wrong sprite"
Should be Rena not Mion.

tata_010
DrawBustshotWithFiltering( 1, "me_se_de_a1", "left", 7, -160, 0, FALSE, 0, 0, 0, 0, 0, 0, 300, TRUE );

//「...そうだね＠......先生がいろいろと手配してくれたんでしょ＠うん＠...きっと大丈夫だよ。＠
	PlaySE(4, "S03/02/140200122", 128, 64);
	OutputLine(NULL, "「…そうだね。",
		   NULL, "\"...Me too.", Line_WaitForInput);

[2016-10-28 22:31] ItaloKnox commented on #15
Gotcha, should be fixed now. Can you see if it displays fine? I don't usually mess with sprites, so I don't know if we have to fix the coordinates too.

[2016-10-28 22:47] Kamlingen commented on #15
Looks good.

[2016-10-28 22:50] ItaloKnox commented on #15
Nice, thanks for reporting this!

[2016-10-28 22:50] #15 closed

[2016-10-29 03:55] Kamlingen opened #16 "tata_jisitu using wrong BG"
tata_jisitu01-03 was using the wrong BG so I tried making a fix for it :P

https://mega.nz/#!ptoyFbrZ!L0GJuEF1-c0dvxIOe8q1x1I3LzphzRufWQ5NKsZcgeg

[2016-10-29 06:27] enumag commented on #16
Oh the difference is that the doors are closed in your patch. Took me some time to see it. :-)

[2016-10-29 09:58] Kamlingen commented on #7
@ItaloKnox Can you also add these that Grelo as made?
https://mega.nz/#!0dtHFZDa!bnwHYXNESL44hdxUEOoE4DQ9B2IlcSAKitYyik15b5I
https://mega.nz/#!9I92hJZa!eN6enZ-YVTJQgtrDXTJ8MzY4jyvHUtF5j9z-3xQZOWA
https://mega.nz/#!4EsTUBBL!l2aKGnDVStXxC43i4a0LZJ2_MfLmt_auSWCaa6pU9K0

[2016-10-29 14:54] Grelo commented on #7
Yep you will need them, at least the missing images because the new update already have these changes in script and without them = black screen.

[2016-10-29 15:23] ItaloKnox commented on #7
I forgot about that, I'll recompile the graphics patch to update it and leave the links for who already downloaded the big 1080p patch.

[2016-10-30 08:03] Kamlingen opened #18 "Replacement for bg_133"
Similar issue with blurriness. Here is a replacement for bg_133.

https://mega.nz/#!MpoWEQCb!yE63WSZ0791hHxeEJ0X2PFsQqHvbNWaMc3CJB2tR3ts

[2016-10-30 08:27] ItaloKnox commented on #18
File is already in the repo but not versioned yet. Thanks!

[2016-10-30 08:27] #18 closed

[2016-10-31 17:01] ItaloKnox commented on #16
Gotcha, graphics patch updated with the new images. :)

[2016-10-31 17:01] #16 closed

[2016-11-07 01:25] DoctorDiablo commented on #7
I checked in a bunch of minor spelling/grammar fixes that I found by running the script through spellcheck.

[2016-11-07 05:53] enumag commented on #7
Nice work @DoctorDiablo! :-)

[2016-11-20 14:31] enumag opened #19 "Text / voice inconsistency in chapter 4"
Here are the lines I'm talking about: https://github.com/07th-mod/tatarigoroshi/blob/master/Update/tata_004.txt#L1310-L1325

In the voice files Keichi actually mispells his name to "Umm... Mr. Iria, was it?" and then the Coach corrects him instead of saying "That's right."

I can fix the english text but I need someone to check if the japanese text is correct and fix it if not.

[2016-11-20 17:20] ItaloKnox commented on #19
The "that's right" is definitely wrong here. He says "I'm Irie", or like I would prefer to say, "It's Irie". The japanese lines are correct in this case, 入谷 translate to "Iriya" when Keiichi says it, and then he corrects it later.

Now, the Iriya in this case isn't a Fate pun? Or maybe I'm just stretching things.

[2016-11-20 17:43] enumag commented on #19
I'd just write it as Iria. I do like puns but this one seems a bit of a stretch to me.

[2016-11-23 18:15] #19 closed

[2017-02-16 05:43] jwgrlrrajn opened #21 "Any interest in a Steam Sprites + PS3 Backgrounds version of the patch?"
I recently modified a bunch of the Steam sprites to work in place of the PS3's daytime sensitive or zoomed versions of the sprites. Not sure if my edits would end up breaking anything, but is there any interest in giving users the option?

[2017-02-16 07:26] drojf commented on #21
Well, if it's just an additional zip file which overwrites the existing sprites, I don't see the harm in that since we don't need to maintain anything. Is that how it will work?

[2017-02-16 14:09] jwgrlrrajn commented on #21
Yes, that's basically how it would work.

[2017-02-16 16:00] ItaloKnox commented on #21
I suggest you to open a repository with only the sprites uploaded. Leaving only a download link means that we're supporting that option and will solve all issues that might happen because of it. I have no problem in directing people to your work, we just can't take any more issues that aren't related to what we're directly working (PS3 graphics).

[2017-02-16 16:07] drojf commented on #21
I thought this was the umineko github, sorry italo :S

[2017-02-16 16:36] ItaloKnox commented on #21
Ahahaha, I thought your suggestion was fine, actually. It's only harder to update but if the creator sticks around there is no issue.

[2017-02-16 20:10] jwgrlrrajn commented on #21
Just opened a repo for the Steam Sprites mod, so here's the link if you want to direct people to it then. :slightly_smiling_face:

https://github.com/jwgrlrrajn/higurashi-tatarigoroshi_steam-sprite-mod

[2017-02-16 20:21] ItaloKnox commented on #21
Cool, that's awesome. I'll update the wiki with your mod.

[2017-02-17 04:27] #21 closed

[2017-04-16 16:15] #7 closed

[2017-04-16 16:32] enumag opened #22 "Missing voice files"
I was a bit tired with how difficult it is to install Higurashi patches (graphics + voices + this patch + steam sprites patch) so this weekend I finally did what I had in mind for a long time and wrote some scripts to download everything, put it together, remove voices that are not used (meaning I no longer need [symbolic links](https://github.com/07th-mod/guide/wiki/Part-1---Voice-and-Graphics-Pa

[2017-04-17 09:25] #22 closed

[2017-04-17 09:28] ItaloKnox commented on #22
I was getting ready to start working on this but looks like you already managed to fix it, many thanks for that. Just a little longer before we start working on the next chapter, see you there!

[2017-04-22 02:10] ItaloKnox commented on #22
Oh, hey, I actually went through checking the commits and forgot about the most important part: any plans on sharing the script? Maybe we can try to put together something fancy and stop having people do complicated steps. I think we're at the perfect point *for development*, but less than the optimal for the regular user. So, what do you think?

[2017-04-22 05:10] enumag commented on #22
And here I was afraid you were not interested. Of course I'll share it - wouldn't mention it otherwise. Let me create a new repository for it, add a readme file and then we can discuss any improvements.

[2017-04-22 05:17] ItaloKnox commented on #22
Sure! I'm going to bed for now but I hope we can make something cool for the next chapter. When I posted that first comment I did it while checking the pull requests so I forgot about it completely, just remembered that a couple hours ago after updating the wiki for Meakashi.

By the way, is there a way of compiling a list of all voice files used in every chapter? If we're going to make the proces

[2017-04-22 05:25] enumag commented on #22
For now the script copies all the voice directories needed for the chapter (s03, s19 and s20 for Tatarigoroshi) and then it goes through them and deletes all the unused ones leaving only the needed voices. It will be easy for me to add a way to save the complete list instead of this filtering.

[2017-07-19 15:18] enumag opened #28 "Missing voices"
There are no voices in [this part](https://github.com/07th-mod/tatarigoroshi/blob/master/Update/tata_008.txt#L1774-L1850). I guess the PS3 text was too different then?

Is there a chance that PS2 would have the correct voices? Recently we had one issue where it was the case.

Otherwise we should probably add it to known issues. (I already added the names there of course.)

[2017-07-19 16:25] ItaloKnox commented on #28
If I recall correctly that was censored in the PS3 text. I actually found the first two voices for Keiichi in the PS2 files.

I'll try to find the rest and push it.

[2017-07-19 16:28] enumag commented on #28
If some voices are different in PS2 then maybe we should change the text a little? I mean the PS2 text doesn't seem to be censored too much (see #29).

[2017-07-19 17:16] ItaloKnox commented on #28
Got everything we needed from the PS2 voices. Thank god we have them and they use the same numbers.

Please check it later, I was doing three things at the same time so maybe I goofed somewhere.

[2017-07-23 10:58] enumag opened #31 "Missing sprites for Teppei"
While fixing the hellish tata_008 voices and other issues I also noticed that Hojo Teppei does not have any sprite when he appears. We should have his sprites from the PS3 right?

@Grelo This is your area, right? Can I ask you to add his sprites to the scripts?

[2017-07-23 10:58] #28 closed

[2017-07-24 04:46] P-Chang commented on #31
[teppetest.zip](https://github.com/07th-mod/tatarigoroshi/files/1168811/teppetest.zip)
I made it. how do you think?
It is still previous version(Jul 16, 2017 ), please back up.

it is only test so, it use low resolution graphic and high compressed.

[2017-07-24 05:02] enumag commented on #31
@P-Chang Thanks for your effort but this is not how sprites should be added. It should be done with the `DrawBustshot` function. Or in this case probably better `DrawBustshotWithFiltering`. Sprites should not be part of the background.

[2017-07-24 05:15] P-Chang commented on #31
I bit zoomed background because teppei is talking from window of second floor.
bg_059b is new file and there are no scene that use this image, so I put to teppei image on bg.

[2017-07-24 05:18] enumag commented on #31
Oh I missed that fact. That's possibly why he doesn't have sprite in this case. Good that you pointed it out. Maybe we should leave it as it is.

[2017-07-24 06:35] P-Chang commented on #31
[edited]
http://www.mediafire.com/file/pwxh4hj3xxuu5vr/graphics.rar

it is high resolution version and another image for meakashi effect fix.

compress please.

[2017-07-24 10:20] Grelo opened #32 "Better images for Tatari ending"
@enumag
I made better images with text in the center so it is more readable now unlike with previous ones which were covered by the text box and not acceptable because of it. Please overwrite the old ones in graphic mod, thanks :)

https://mega.nz/#!hIEhWJyJ!VfTzJnokdm9IQlrBgYzjIYbUDS_lT13LIw89-WKlKbM

[2017-07-24 10:24] Grelo commented on #31
@enumag He does not have any sprites in the PS3 version if i remember correctly. I will look into it, maybe im wrong. Maybe they are hiding his face on purpose so readers can feel the mystery surrounding him, idk.

Edit:
Nope. No sprites, cgs or backgrounds with him in Tatari. :/

[2017-07-24 13:40] ItaloKnox commented on #32
Had some downtime issues due to Github's buggy API but the update should now be included in the latest graphics patch. 👍

[2017-07-24 13:40] #32 closed

[2017-07-24 15:36] enumag commented on #31
@Grelo There is a sprite in our Meakashi patch. I feel like we should see his face in Tata since Keiichi saw him.

![tetu_1_0](https://user-images.githubusercontent.com/539462/28531273-a7bd3f8e-7096-11e7-8973-4f1f12e8169b.png)

[2017-07-24 16:09] Grelo commented on #31
@enumag
I dont want to make changes that are not in either version, at least myself. If you mean sawing him when he was beating him then its true but there is just not enough sprites for him being surprised, in pain, scared etc. If someone can make these expressions then ok, but im backing out from it. Dont wanna be responsible for screwing this up or making inferior patch.

And i think they didnt

[2017-07-24 16:35] enumag commented on #31
@Grelo Alright, I'm convinced. :-)

[2017-07-24 16:35] #31 closed

[2017-07-24 21:26] Kamlingen opened #33 "Installer"
![installer](https://user-images.githubusercontent.com/22724316/28545454-4eb8f51e-70c7-11e7-8018-307ee2d160ed.png)

The installer stops here.

[2017-07-25 02:16] P-Chang commented on #32
I already fixed it.
It works both mode and  both language.
https://github.com/07th-mod/tatarigoroshi/pull/30

Example( top right is deleted in master ):
http://www.dailymotion.com/video/x5upmtt

[2017-07-25 05:03] enumag commented on #32
@Grelo Great work! 👍

[2017-07-26 15:28] #33 closed

[2017-10-01 14:19] enumag opened #36 "Missing Alt+F4 dialog"
When you try to close Higurashi game using Alt+F4 the game first shows a Yes/No dialogue to confirm.

This works fine in all other chapters but in Tatarigoroshi the dialog is not shown.

@P-Chang Could you see if you have the same issue with your own Tatarigoroshi installation? It might be just something on my end. If you have the same issue, could you look into it?

[2017-10-01 14:30] P-Chang commented on #36
You probably just disable "Display Confirmation Boxes" accidentally.
I met same issue in few weeks ago.

[2017-10-01 14:50] enumag commented on #36
lol you're right of course... I completely forgot the game even had that feature

Still though with confirmation boxes disabled I'd expect the game to close on Alt+F4.

[2017-10-01 14:55] P-Chang commented on #36
In that night, I thought I made bug, and I looked over all edited method.
It was really ridiculous night :joy:

[2017-10-01 17:57] #36 closed

[2017-10-21 13:13] enumag opened #38 "WaitForVoice bug?"
@P-Chang As per your advice I added WaitForVoice here: https://github.com/07th-mod/tatarigoroshi/commit/7b699e5a347d40473cf9dd8b3fb88cdc4b3e7c3b

The thing is it does not work - the game just freezes there. Here is my hypotheses of what happened:

I think it is because the voice is relatively short and my text speed is fast so the voice actually finished before the command is reached. So then it t

[2017-10-21 13:36] enumag opened #39 "Missing voice"
We have a missing voice here: https://github.com/07th-mod/tatarigoroshi/blob/master/Update/tata_010_03.txt#L354-L360

Based on the voice numbers I think these two voices belong there but they probably have some different meaning?

https://www.dropbox.com/s/zlbaneez8247jum/142700008.ogg?dl=0
https://www.dropbox.com/s/fne0jon5kdq72sc/142700009.ogg?dl=0

Here is the relevant part from PS3 script:

[c

[2017-10-21 13:48] P-Chang commented on #38
Totally sorry, true command name is "WaitToFinishVoicePlaying".
I'm confused in differences between command name and method name in dll.

[2017-10-21 13:58] enumag commented on #38
That works, thank you!

[2017-10-21 13:58] #38 closed

[2017-10-21 14:24] P-Chang commented on #39
OK, I'll make it.

How we treat English dialog?
Scenes don't have big differences, but dialog are completely different.

1.Replace to Japnese dialog.
It is common in community translation. Translator will be able to realize it in gaming.
But almost English user will confuse.

2.Add comment in script file.
If we have rule of comment, translator can search with grep and find it easily.

In this case

[2017-10-21 14:59] enumag commented on #39
I'm not sure I understand what you mean. Are you talking about dealing with the fact that we don't have english translation at the moment? I'm sure @ItaloKnox or @DoctorDiablo can translate it for us.

[2017-10-21 15:08] P-Chang commented on #39
Sure. I think they can translate it too.

But if I separate these first and add comment it like

[code]

They can translate it when they have a lot of time.

I suggested case 1 why CS dialogs sometimes have completely different dialog flow.
In that case, English dialog flow will be completely broken without translation.

[2017-10-21 15:26] enumag commented on #39
Use whatever you prefer, we can deal with it either way. Personally I usually use this since it has the advantages of both of your suggestions.

[code]

[2017-10-21 15:56] P-Chang commented on #39
Hmm, It should be used in scene that have different dialog flow.
There are many dialogs that completely different text but translation is not must.

I use comment like `// <missing transration>` for integrity.

[2017-10-21 16:05] P-Chang commented on #39
And I finish it.
https://github.com/07th-mod/tatarigoroshi/commit/3c0704b73bd934abdc2a7c36ae56b547d778ff07

[2017-10-21 16:08] enumag commented on #39
Thanks!

The branch with original text should not have voices in my opinion. Plus the name line should be inside the branches maybe?

Also what is the empty file ztata_00x_vm0x_n01.txt for?

[2017-10-21 16:37] P-Chang commented on #39
In personal judgment, if the voice is not strange for the scene, I put a voice.
I have no objection to you cut it off, but I personally would like to continue this way.

I excluded name lines for keeping the difference to a minimum, but if this way is not good for your work I will include the name line.

[2017-10-21 16:41] enumag commented on #39
Alright, keep the voices then.

The name, voice and text should always stay together in my opinion. If you had more than one line then you would have names inside these functions anyway - let's keep it consistent.

[2017-10-21 17:05] P-Chang commented on #39
Oh... I should discussed rule with you...

in my old edit

[code]

to

[code]

is it should be ?

[code]

[edit]

I completely missed this one.

[2017-10-21 17:45] enumag commented on #39
In my opinion yes but it is not too important. Have it your way if you want to.

[2017-10-21 17:55] P-Chang commented on #39
OK, I'll do it base on your opinion after this.

I worried about redo wata.

[2017-10-21 18:00] enumag commented on #39
You didn't answer my question about the ztata_00x_vm0x_n01.txt file - it contains just 2 empty functions. Why is that there?

[2017-10-21 18:04] enumag commented on #39
And maybe I should explain why I prefer to have names and line breaks included in the GCensor branch files. It is because I have a lot of scripts by now fixing common mistakes. And sometimes the conditions are based on the whole dialogue - from name to line break. Having just the line itself separately could break some of these scripts.

[2017-10-21 18:06] P-Chang commented on #39
it's just blank file for making new branch script file.

[2017-10-21 18:10] enumag commented on #39
Also, can I ask you to configure your IDE or whatever editor you're using?

1) Editor should remove trailing whitespaces.
2) Editor should always add a line break to the end of the file.

My script can fix that of course (https://github.com/07th-mod/watanagashi/commit/4c2f119e1b8644a8ec24fcc4438f97181d947dc8) but it makes it difficult to see the changes I'm interested in.

[2017-10-21 18:51] P-Chang commented on #39
Sure.

[2017-10-21 19:00] enumag commented on #39
@P-Chang Ok, I think that's everything I wanted to ask you here. I'll finish this issue with the others.

@ItaloKnox @DoctorDiablo Everything else is done. Can I ask one of you for translation of the two lines in the first post? No hurry, do it whenever convenient for you. ;-)

Thanks to all of you!

[2017-10-21 21:09] ItaloKnox commented on #39
The second sentence is giving me a little trouble. I think I can translate it but I don't think it's going to be good enough. Perhaps @DoctorDiablo can translate this one better than me. I'll do something about it in case he can't do it.

[2017-10-22 23:17] DoctorDiablo commented on #39
Here's my attempt at a translation:

But personally, in this sort of situation I think I'd prefer to keep the original text and play the audio as-is.  The moderate censorship seems a little more annoying than the text not perfectly matching the audio.

[2017-10-23 18:37] enumag commented on #39
Yeah that's actually what @P-Chang with the fork - one branch of the fork has what you just said and I thought to put the translation to the other. I can revert the fork if you guys prefer to always use the non-matching text.

@ItaloKnox I think I'll let you decide since I don't mind either way. (It's probably better to keep the fork since we already have it.)

[2017-10-23 19:36] ItaloKnox commented on #39
I don't think this one hurts the story, so it shouldn't really be an issue to change it. Honestly, I have nothing against it.

[2017-10-23 20:00] enumag commented on #39
Fork it is then. I'll finish it when I have some time. Thanks guys!

[2017-10-25 09:51] #39 closed

[2017-10-26 13:39] enumag opened #41 "Wrong translation?"
From the context I think the translation is slightly wrong [here](https://github.com/07th-mod/tatarigoroshi/blob/master/Update/tata_012.txt#L6567-L6568). I think it should rather be like this:

[code]

@ItaloKnox @DoctorDiablo Can you guys read the japanese text to confirm?

[2017-10-26 17:00] ItaloKnox commented on #41
Hmm, it doesn't look wrong for me but definitely odd. Don't really get the context there.

[2017-10-26 19:28] enumag opened #42 "Fixing voice timing issues in tips"
- [x] tips 1
- [x] tips 2
- [x] tips 3
- [x] tips 4
- [x] tips 6
- [x] tips 15
- [x] tips 16
- [x] tips 17

[2017-10-26 19:29] enumag commented on #42
https://github.com/07th-mod/tatarigoroshi/commit/e4f815bef35ba0efd33b72988f8fa022347e5e6b
https://github.com/07th-mod/tatarigoroshi/commit/4be71b95c91ca6b9f49b4304a617c7e808a17bca
https://github.com/07th-mod/tatarigoroshi/commit/facd657390d6df0e4b8fe6a4f900fe8a80878f83

[2017-10-26 19:36] P-Chang commented on #41
you seem to be confused, because this sentence omits subjects.
Probably MG missed it with this reason.

Japanese text should be this in polite Japanese.
`"俺は"監督が半ば俺を異常者扱いしていることに気付き、"俺は"声を荒げてしまう`

If I translate it with my novice English.

`I realized coach was treating me like a deviant, so I raised my voice.`

[2017-10-27 08:51] enumag opened #43 "Tata tips 02 PS3 matching"
I found a minor change in tata tips 02. It doesn't seem to be censorship, just a regular improvement.

Here is the relevant part of PS3 script:

[code]

In our version voices 440100118 and 440400073 (first and last line) are used but the voices in between are not.

@P-Chang What do you think? Should we make a fork using the changed lines?

[2017-10-27 19:32] enumag commented on #42
I'm glad that there are only 8 tips with voices. These take a long time to fix properly. :-/

[2017-10-28 06:49] #42 closed

[2017-10-28 12:36] enumag opened #44 "Translation needed"
There was an error in the script that one of Keiichi's lines were added to Satoko instead. When I split it the current translation doesn't make much sense so I need a better one.

[code]

[2017-10-28 12:49] P-Chang commented on #43
I think it is not important lines too, but fork could be make easily, I'll make it in few days.

[2017-10-28 14:52] ItaloKnox commented on #44
Can you give me the unsplit translation? I think I need some context.

[2017-10-28 15:54] enumag commented on #44
It goes like this:

[code]

Current translation (written as if both lines were one long sentence said by Keiichi}:

[code]

In reality the first line is said by Satoko and the second by Keiichi. The second can probably stay as is but the first doesn't make much sense on it's own.

If you need further context then look [here](https://github.com/07th-mod/tatarigoroshi/blob/master/Update/tata_013_02.

[2017-10-28 18:07] ItaloKnox commented on #44
Well... the translation is correct. It really looks like he says both, and splitting them is quite difficult in this case. The japanese actually gives margin to what is coming next, so the sentence does not make sense by itself.

I guess we just need to adapt it? Perhaps changing the ending a little to make it look like the "talking about" was interrupted?

[2017-10-28 18:11] P-Chang commented on #44
probably, it is not need retranslate.

just changing `...From... what I just heard the police talking about...` to dialog that Satoko tone is enough or it is not needed.

Or making
`...Anyway... what on earth... is going on?  ...From... what I just heard the police talking about...`
to one dialog on your English knowledge is enough.

[2017-11-03 13:22] enumag opened #45 "Omake - missing translation"
@ItaloKnox Nothing major this time. Just one line by Shion announcing that she's the protagonist of Meakashi. It does not need to be exact.

[code]

[2017-11-03 13:29] enumag commented on #45
@ItaloKnox Oh and could you translate this as well for me? It's Keiichi being happy about finally getting his own sprite in Meakashi.

[code]

Note for myself: s20/01/440100219

[2017-11-03 14:06] enumag commented on #44
I'll just keep it as is then.

[2017-11-03 14:06] #44 closed

[2017-11-03 14:09] enumag commented on #41
@DoctorDiablo It seems we will need you to resolve this one. (Or @Norgus.)

[2017-11-03 14:14] Norgus commented on #41
I agree with @P-Chang (sorry I'm not really working on the scripts but feel free to @ me or otherwise message questions)

[2017-11-03 14:24] enumag opened #46 "Too long announcer lines"
Since the auto-mode is finally usable with voices I was careful to properly fix cases where 1 voice line was split to 2 text lines. (Because the text was stuck on the first line and the second line only showed when the voice was finished.)

I fixed all of these cases I could find in Tatarigoroshi. The only problem is the lines by Announcer in tata_014. The problem is that these lines are really re

[2017-11-03 14:39] enumag opened #47 "Wrapping up Tatarigoroshi"
I'm finally done with reading and fixing Tatarigoroshi. The amount of fixes I have done in total was much much bigger than in any other chapter, easily more than a thousand. It's officially the most polished chapter so far. So, dear Tatarigoroshi, you were a huge pain in my ass for a looong time and I'm glad to finally get rid of you.

There are still a few issues to be resolved which I can't solv

[2017-11-03 14:52] enumag commented on #43
ping @P-Chang

[2017-11-03 15:10] enumag commented on #41
@Norgus Thank you! :-)

[2017-11-03 15:12] #41 closed

[2017-11-03 15:22] P-Chang commented on #47
Thank you for your hard work.

https://en.wikipedia.org/wiki/Tanna_japonensis

Isys11.org is higurashi
Isys12.org is cicadas

I don't have knowledge enough.

Japanese Rena `かな？かな？` dialogs are motif of higurashi cicadas.

[2017-11-03 15:46] P-Chang commented on #46
How do you think make these like

[code]

to

[code]

Although, we already fixed GUI Pos so, if we increase Y-Pos of Message Windows to 270, Message box can use 70% or 80% of 4th line without layout break.

Test image in chapter5
![20171027062503_1](https://user-images.githubusercontent.com/29869319/32382611-10a08e18-c0f9-11e7-82d0-475a5a3245df.jpg)
![20171027062504_1](https://user-images.githubus

[2017-11-03 15:57] enumag commented on #46
@P-Chang When a fourth line is needed I generally use `<size=-2>` tag to make them fit. There is a condition to only do this in ADV-mode, for example [here](https://github.com/07th-mod/tatarigoroshi/blob/master/Update/tata_001.txt#L68-L75). The difference is not too noticeable so it's fine. In most cases it's already insterted by my ADV-mode updater script.

Note that `</size>` is omitted on purpo

[2017-11-03 16:03] enumag commented on #47
Oh... So basically they are two different bugs with different names in japanese but both are called just cicadas in english?

[2017-11-03 16:21] P-Chang commented on #47
Probably yes.
Wikipedia say these live in only Asia.

[2017-11-03 17:11] jwgrlrrajn commented on #47
I think I heard that higurashi are "evening cicadas." I guess the cicadas in the earlier context are "afternoon cicadas" or something. I know that higurashi have a rather unique chirping sound, as opposed to most cicadas which have more of a buzzing sound.

[2017-11-03 17:39] ItaloKnox commented on #47
@jwgrlrrajn pretty much nailed it. There are two types of cicadas.

[2017-11-03 17:58] ItaloKnox commented on #45
``「大したことじゃないです。``

``すでにご存じの方もおられるかと思いますけど、``

``閲覧できる資料に新しいものが追加されて、……私、園崎詩音のシナリオがプレイできるようになるってことですよ」``

Now for Keiichi:
``へっへ～ん、俺の苦労を少しは思い知れ～！！``

[2017-11-03 17:59] ItaloKnox commented on #45
Brush it up a little for me, especially the last part for Shion. Didn't make much sense, honestly.

[2017-11-03 18:11] enumag commented on #45
@ItaloKnox Something like this then?

[code]

I mean this would make sense in this context and we don't have to be exact. In the omake there are plenty of places where even I can tell the translation is far from exact.

[2017-11-03 19:23] ItaloKnox commented on #45
Oh, yeah, that makes much more sense. I was quite lost when translating it because it really means what I said but can be used in your context.

[2017-11-04 04:15] P-Chang commented on #43
https://github.com/07th-mod/tatarigoroshi/commit/3920a275affb2e9d4a2268fb03917575a0d5ca5c

Sorry for late. finished it.

[2017-11-04 06:42] enumag commented on #43
Hmm we'll need a sa_se_hn_b2.png for CGAlt as well. What chapter did you take the image from?

[2017-11-04 07:11] P-Chang commented on #43
from chapter2 and I put it.
https://github.com/07th-mod/tatarigoroshi/commit/298b1fd51630885ad9a2f50c13a15214966a72b8

[2017-11-04 08:11] enumag commented on #43
Thank you!

Note: Voice filed added, only translations are missing.

[2017-12-01 08:09] enumag opened #49 "Missing translations"
@ItaloKnox We have some missing translations in these two commits. Could you look into it?

https://github.com/07th-mod/tatarigoroshi/commit/3920a275affb2e9d4a2268fb03917575a0d5ca5c
https://github.com/07th-mod/tatarigoroshi/commit/5700215432ddda47bcc82852b8404ec587417372

This will fix #40 and #43.

[2017-12-01 08:10] #43 closed

[2017-12-01 08:53] enumag commented on #45
All done. Thanks!

@P-Chang You might want to make a fork out of this [commit](https://github.com/07th-mod/tatarigoroshi/commit/bd6ea2c173072bb050d3949f864b0dfc0d781cd1). If not, just close this issue.

[2017-12-01 09:12] P-Chang commented on #45
Probably I'll make it in later. but I can make branch with commit diff. so I'm fine with closing this.

[2017-12-01 09:14] enumag commented on #45
I'll keep it open as a reminder that it's not entirely finished.

[2017-12-01 09:38] #46 closed

[2017-12-01 09:47] enumag commented on #47
Thanks for the explanation everyone! :-)

-----

I'm sorry it took me a whole month to get back to Tatarigoroshi and finish it. Finally it's done aside from some missing translations and missing fork (see the other issues for details). Once these are fixed we can make a new release.

Also while fixing this I found out that we had a left-over windo_filter.png in all chapters which caused the NVL mo

[2017-12-01 10:07] P-Chang commented on #47
Probably It only happen in repository. I remember chapter CG archive have all windo_filter.

[2017-12-01 10:09] enumag commented on #47
Exactly, they were still in the repos. Archives are fine.

[2017-12-01 14:41] ItaloKnox commented on #47
@enumag I'm confused. We have a windo_filter for all chapters in their ``Chapter-CG.zip``, but they are overwritten right after that by the textboxes (which also contains a windo_filter and two others). The repo releases, as far as I know, don't have that because I don't release the master, but select folders instead.

Can you explain why we need minor releases for all chapters?

[2017-12-01 14:44] enumag commented on #47
@ItaloKnox You're right. I didn't know that you only copied specific directories for the release. So we just need a new Tata release. Sorry for the confusion.

[2017-12-01 15:32] ItaloKnox commented on #49
I pushed almost every translation. I'm missing the last two of the first one.
Haven't done that in a while so I'm kinda rusty. If someone takes over I'm ok with it but if no one does, I'll come back to it tonight or tomorrow. Long sentences always give me trouble.

[2017-12-01 15:48] ItaloKnox commented on #49
Oh, ok, I really fixed it this time. The last two were really confusing but I brainstormed with a friend who's taking N1 and it worked out. Check that out for me before closing here. 👍

[2017-12-01 15:57] enumag commented on #49
I made a little change [here](https://github.com/07th-mod/tatarigoroshi/commit/4b45bd37233bf0785a98bc20f951d498c0f3d3fc) (is it ok?), otherwise it's fine in my opinion.

Thank you!

[2017-12-01 15:57] #49 closed

[2017-12-01 15:58] ItaloKnox commented on #49
Yeah, I guess going between english, japanese and portuguese doesn't always work too well. 😆

[2017-12-01 16:05] enumag commented on #47
Fun fact: after alll those little fixes I have 230 commits in Tatarigoroshi. That's easily more than I have in all other chapters combined. 😄

[2017-12-01 16:05] #47 closed

[2017-12-01 16:07] ItaloKnox commented on #47
To be honest, Tatari was the worst chapter overall to work on. So much stuff changed and god, the scripts were big.

[2017-12-01 16:12] enumag commented on #47
Yep. Way too many PS3-related changes. I still remember those >200 voices you had to pull from PS2. That was insane. I'm really glad we're finally done here.

I hope something like that won't occur in the answer arcs. But the scripts will most likely be even bigger since answer arcs are generally longer.

[2017-12-01 16:16] enumag commented on #47
Still Tata was fun to read for me since I completely forgot how it ends. I didn't expect to see a GHD here.

[2017-12-23 18:12] enumag commented on #45
@P-Chang I'd like to release new version of Tatari. Do you want to make the fork before the release?

[2017-12-23 19:46] P-Chang commented on #45
@enumag
Sorry for late.
https://github.com/07th-mod/tatarigoroshi/commit/ad711268cee56bc2dc521a28761dd83c47983f5d

[2017-12-23 19:48] enumag commented on #45
@P-Chang Thank you!

[2017-12-23 19:48] #45 closed

[2017-12-31 00:47] gagantous opened #50 "The game didnt started after installed the patch"
I have installed the patched using installer patch for windows, then i copied the patch from release page to the game and replace it, but the game didnt started correctly. It just give me a windows scree of the game but the main menu didnt appear, just blank

I am using windows 7

[2017-12-31 00:51] ItaloKnox commented on #50
After using the installer, go into the ``temp`` folder that was created inside the game folder, delete the file ``local.txt`` and run the file ``updater.bat``. That should fix the issue.

[2017-12-31 04:47] gagantous commented on #50
Thanks, it works (y)

[2017-12-31 04:47] #50 closed

[2017-12-31 05:04] gagantous opened #51 "The text didnt appear but the music still played in the background"
There is no text in this scene, but the bgm still playing
![51](https://user-images.githubusercontent.com/24579576/34459417-db58dab2-ee2a-11e7-99b3-4919669dbfeb.png)

This is last scene just after the text disappear
![1235](https://user-images.githubusercontent.com/24579576/34459421-e69cfdb8-ee2a-11e7-964d-c2d812afd709.png)

[2017-12-31 05:28] P-Chang commented on #51
Your CG folder have `me_se_fu_b2.png`  `left.png` ?

[2017-12-31 06:46] gagantous commented on #51
I have `left.png` but i dont have  `me_se_fu_b2.png` only `me_se_fu_b1.png` @P-Chang

[2017-12-31 06:49] ItaloKnox commented on #51
I checked the patch and the file is definitely there. I think your download dropped somewhere and skipped a few files.

I suggest downloading [Tatarigoroshi-CG.zip](https://github.com/07th-mod/resources/releases/download/Nipah/Tatarigoroshi-CG.zip) and replacing your ``CG`` folder with the one that comes with this.

[2017-12-31 06:50] gagantous commented on #51
Okay, thanks @ItaloKnox

[2017-12-31 07:04] gagantous commented on #51
could someone upload the `me_se_fu_b2.png` only ? it took 4 hour for me to donload that 500mb CG set...
my download speed is not stable now, sometimes it went 20kb or 50kb...

[2017-12-31 07:30] enumag commented on #51
![me_se_fu_b2](https://user-images.githubusercontent.com/539462/34460095-de7acf32-ee04-11e7-8025-c09cbc84a481.png)
![me_se_fu_b2](https://user-images.githubusercontent.com/539462/34460096-e5256fb8-ee04-11e7-999b-deccb8d59e54.png)

[2017-12-31 07:51] gagantous commented on #51
Thanks @enumag for the CG, it works now !

[2017-12-31 07:51] #51 closed

[2018-02-08 06:20] jwgrlrrajn opened #52 "Satoko Sprite Modification"
I recall when this chapter was first announced, quite a few fans took issue with one of Satoko's sprites. I'm not going to post it here, because I think the artist was a little excessive with this one. You can look it up in the CGAlt folder.

Anyway, after some time of painstaking editing, I've finally come up with a modification that I'm reasonably happy with. Satotko's revamped towel sprite.
![s

[2018-02-08 07:02] enumag commented on #52
It looked good until I clicked on it to see it fullscreen. The edges and folds you added are considerably more pixelated than the others. I like where this is going though.

[2018-02-08 17:45] jwgrlrrajn commented on #52
Gotcha. I think I know of a relatively easy way to fix that now. I'll work on it some more tonight.

[2018-02-09 04:39] jwgrlrrajn commented on #52
Here we go. This should do it. ![sa_to_ak_a1](https://user-images.githubusercontent.com/13456824/36012000-d8578150-0d20-11e8-9734-8de252ab0b5f.png)

[2018-02-09 06:22] enumag commented on #52
It's not much better to be honest. I still see the pixelation to lesser extent + your edges are now thicker/darker than original ones. When I'm not zoomed in the first attempt actually looks better.

[2018-02-09 06:29] jwgrlrrajn commented on #52
Just so I'm clear on this, we're talking about the brown outlines, yes?

[2018-02-09 06:38] enumag commented on #52
I see them as black rather than brown but yeah we probably mean the same thing. Just to clarify I highlighted them.

![satoko](https://user-images.githubusercontent.com/539462/36014842-1260d2de-0d6c-11e8-9565-5259983951b7.png)

[2018-02-09 06:54] jwgrlrrajn commented on #52
That's a tremendous help. Hopefully, I can get this wrapped up tomorrow.

[2018-02-10 06:13] jwgrlrrajn commented on #52
Third time's the charm, I hope. ![sa_to_ak_a1](https://user-images.githubusercontent.com/13456824/36059126-20fb74f8-0df7-11e8-892b-271eadde13db.png)

[2018-02-10 07:11] enumag commented on #52
👍 Looks good to me now. :-)

@irlPM @Grelo @ItaloKnox What do you guys think?

[2018-02-10 07:15] ItaloKnox commented on #52
I would be a bit more perfectionist but I think it's just nitpicking at this point. It looks good, you can barely notice it's edited.

[2018-02-10 13:19] irlPM commented on #52
Yea, I agree with Ítalo. It looks good.

[2018-02-10 14:48] jwgrlrrajn commented on #52
Awesome. We'll include these with the next update then.

[2018-02-10 16:30] enumag opened #53 "New graphics patch"
@ItaloKnox It's even easier this time.

Just download current tata patch into `tatarigoroshi-old`.

There are some missing images in this repository, add those as well.

Download shell script here: https://www.dropbox.com/s/clcwp0q6f2acnwh/tatarigoroshi.sh?dl=0

Run the script, post errors here.

Add textboxes: https://github.com/07th-mod/resources/releases/download/Nipah/Higurashi-Textboxes.zip

[2018-02-10 19:45] ItaloKnox commented on #53
Got a lot of errors this time. Not sure if I did something wrong.

[code]

[2018-02-10 19:51] enumag commented on #53
These are all ok actually. It's caused by tata having lot of text images.

[2018-02-10 20:12] ItaloKnox commented on #53
[Tatarigoroshi-Voices.zip](https://github.com/07th-mod/resources/releases/download/Hanyuu/Tatarigoroshi-Voices.zip)
[Tatarigoroshi-CG.7z](https://github.com/07th-mod/resources/releases/download/Hanyuu/Tatarigoroshi-CG.7z)

[2018-02-11 01:16] yagamisempai opened #54 "My game stops at the last tip"
Hi, am reading tatarigoroshi with the latest patch, am about to finish but while reading the last tip research notes, the game suddenly stops and I can’t do anything.
![sin titulo](https://user-images.githubusercontent.com/28794338/36068262-52daeb4a-0ed1-11e8-845a-c79845179c85.png)

The screen stays like this even if i return to the main menu, hope you can help me to fix this and sorry if I bother

[2018-02-11 01:32] ItaloKnox commented on #54
Hi, can you post the ``output_log.txt``?

[2018-02-11 01:41] yagamisempai commented on #54
[output_log.txt](https://github.com/07th-mod/tatarigoroshi/files/1713950/output_log.txt)

[2018-02-11 01:42] yagamisempai commented on #54
all works fine, only when am reading the tip is when the game stops

[2018-02-11 01:44] ItaloKnox commented on #54
I don't see anything strange with the log. When did you install the patch and how did you install it (manual or installer)?

[2018-02-11 01:46] yagamisempai commented on #54
manual but i used the ps3 sprites i already have.
can that be the problem?

[2018-02-11 01:47] ItaloKnox commented on #54
I don't understand, you copied the sprites from another chapter and put it in your game?

[2018-02-11 01:54] yagamisempai commented on #54
[example.zip](https://github.com/07th-mod/tatarigoroshi/files/1713961/example.zip)
no sorry i do use the sprites of tatari goroshi  here is a example of wat happen

[2018-02-11 01:57] ItaloKnox commented on #54
I checked our scripts and still haven't found anything to make the game crash at this part. I'm going to tag @enumag so he can take a better look at this. I don't have the game with the patch applied right now to test it.

[2018-02-11 01:59] yagamisempai commented on #54
thank you very much nwn

[2018-02-11 06:47] enumag commented on #54
Actually P-Chang already fixed it. https://github.com/07th-mod/tatarigoroshi/commit/b9e7f0ae9892beaddf62f93729501e08125fbb56

[2018-02-11 20:39] #52 closed

[2018-02-13 19:52] #54 closed

[2018-02-16 02:49] DoctorDiablo commented on #53
I put together a dll with the lipsync changes for Tata.  [Assembly-CSharp_TatariLipsync.zip](https://github.com/07th-mod/tatarigoroshi/files/1730067/Assembly-CSharp_TatariLipsync.zip)

@EliEron, can you add the changes you made in the Watanagashi dll to this one?  (or tell me what you changed and I can add it)

Looks like we've got the voices and graphics straightened out.  Is the script updated y

[2018-02-16 06:12] EliEron commented on #53
@DoctorDiablo I only made three changes to the Watanagashi DLL. I fixed the script to operation translation as discussed earlier, I fixed the Mod Menu which was broken and added support for using the numpad when using the number shortcuts.

The script to operation translation and the mod menu seems to be correct in the Tatarigoroshi DLL without me having to change anything. So the only change I ne

[2018-03-01 18:12] enumag commented on #53
[Tatarigoroshi-CGAlt.7z](https://github.com/07th-mod/resources/releases/download/Hanyuu/Tatarigoroshi-CGAlt.7z)

[2018-03-19 19:16] Norgus opened #55 "small typo in Japanese start image"
So I think there's a typo in the text in the file \CG\scenario_c_j.png

どのようは should be どのように

[2018-03-19 19:18] ItaloKnox commented on #55
Shhh, I'm silently killing the bot.

[2018-03-23 21:07] yagamisempai commented on #55
guys sorry i just want to tell you that i did a spanish tutorial about how to make your new lipsync patch to work, of course all credits and thanks goes to you guys for the greath work.
https://www.youtube.com/watch?v=CtQb8A1IfvI

thank you so much again for your great work and all this is posible because of you all thanks.

[2018-03-24 14:33] #53 closed

[2018-03-24 14:40] enumag commented on #55
@Grelo Can you fix the scenario_c_j.png?

[2018-03-25 08:06] Grelo commented on #55
@enumag Done. It is inside the issue with all scenarios.

Ok i put it below too:
![scenario_c_j](https://user-images.githubusercontent.com/22790067/37873029-361c74ce-3014-11e8-97f9-64c9a05831f4.png)

[2018-03-25 20:48] enumag commented on #55
@ItaloKnox Do you want to change it in the CG pack or should I just commit it to the repo?

[2018-03-25 20:49] ItaloKnox commented on #55
Commit it to the repo, please. It's always a pain to update Tata's CG pack.

[2018-03-26 17:26] #55 closed

[2018-03-28 18:52] idealpersona opened #56 "Missing list of victims"
List of victims at the end doesn't display; just a black screen.

This CG appears to be missing from the latest asset package.

[2018-03-28 18:53] idealpersona opened #57 "Sui poem part 2 Japanese version is in english"
The existing one is almost a copy of the corresponding English part.

[2018-03-29 16:26] #56 closed

[2018-03-29 16:29] #57 closed

[2018-03-30 09:21] enumag opened #58 "Typo in CG/text/t_ep.png"
"However" is misspelled in t_ep.png

[2018-03-30 09:31] enumag commented on #58
monologue_tata1.png -  borne should be born

[2018-04-03 20:29] Norgus opened #59 "Last line in tips not waiting for user input"
https://github.com/07th-mod/tatarigoroshi/blob/fad3be410c0d35dbdd0f56fd633cb65753151745/Update/tata_tips_10.txt#L138-L140

The tips close the moment the last line of text displays, so it cannot be read.
I experimented a little, but wasn't sure how to fix this properly.

The equivalent text in pre-mod script is:
[code]

[2018-04-03 21:37] #59 closed

[2018-04-03 21:38] enumag commented on #59
@Norgus This should fix the problem: https://github.com/07th-mod/tatarigoroshi/commit/0a10d3640277f4256171c248dc89614b3844a665

[2018-04-14 13:11] #58 closed

[2018-06-03 23:26] orian34 opened #60 "Typo in config menu"
I just noticed there was a typo in all config menus( I checked Oni and Wata, they have it as well. And I don't know how I managed to miss it...).
![image](https://user-images.githubusercontent.com/12663654/40892353-47648050-6796-11e8-9f1e-e75dd96f08cc.png)

I'm pretty sure the double I is not intentional

[2018-06-04 10:36] irlPM commented on #60
I'll be fixing it, thank you for saying it.

[2018-06-04 11:55] enumag commented on #60
@irlPM There are other issues in the assets which we need to fix (like the swapped arrows). I already have some WIP versions on my PC. Still I need you or Inochi to send me fixed PNG for the config screen.

[2018-06-04 18:42] enumag commented on #60
@irlPM Never mind, I just got it from Inochi.

[2018-06-04 18:43] enumag commented on #60
Actually I guess you'll need it as well for Hima UI so here it is:

https://cdn.discordapp.com/attachments/410346263167500300/453266853007982603/configbg_1EN.png

[2018-06-07 22:00] orian34 opened #61 "CG text typos"
Some typos from the CG pictures.
from tips/tata004.png
![image](https://user-images.githubusercontent.com/12663654/41124391-1cdcb7bc-6aa2-11e8-8faa-783fba90737c.png)
Slaking is a pokemon.
![image](https://user-images.githubusercontent.com/12663654/41125026-eeaa9de4-6aa3-11e8-9b4d-09f346b81f35.png)
Just as a reminder, you already know it's on all chapters.

[2018-06-12 02:04] orian34 opened #62 "Missing Sprites Vol. 3"
Sprites :
"portrait/normal/tie_2_"
"sprite/sunset/sa1b_warai_b1_"
"sprite/night/sa1a_warai_a1_"
"sprite/normal/sa5_hannbeso_a3_"
"sprite/normal/iri1_majime_"
"sprite/sunset/iri1_majime2_"
"sprite/sunset/iri2_majime_"
"sprite/sunset/me1a_majime_a1_"
"sprite/sunset/me1a_odoroki_a1_"
"sprite/sunset/me1a_tokui_a1_"
"sprite/sunset/me1a_wink_a1_"

Flashback :
"flashback/g1"
"flashback/gr1"
"flashback/ma

[2018-06-12 05:24] enumag commented on #62
Oh great, more work. And we're not even done with wata.

[2018-06-12 16:36] orian34 commented on #62
pull request was sent

[2018-06-18 19:17] JmTrad opened #64 "Higurashi Ch3 Tatarigoroshi - HD Original Sprites"
This patch is meant to upgrade the original Higurashi spirtes for HD versions. I used the waifu2x program for this. Very soon I will bring HD versions of the other 3 games. Hope you like it. ~JmTrad.

Example: https://i.imgur.com/7F2MZaf.jpg

Download: https://drive.google.com/file/d/18RfYZB-2cY4jJ0hNOJUmN2qkHvUxlWvN/view?usp=sharing

[2018-06-26 18:32] orian34 commented on #62
Can be closed now, I think.

[2018-06-26 18:32] #62 closed

[2018-06-26 18:35] enumag commented on #60
Fixed.

[2018-06-26 18:35] #60 closed

[2018-07-23 00:05] Ryptahi opened #65 "Menu boxes not appearing"
Installing the mod with mod patcher version 1.18 seems to make Tatarigoroshi unplayable. I patched the steam version of the game and used patcher on fresh install. Everything else seems to work fine, but I do not have any menu boxes available. Music only plays on background and only way to close the game is through task manager

[2018-07-23 14:49] ItaloKnox commented on #65
Looks like the installer had some issues with the UI mod in your machine. Do you still have the installer log? It should be inside a folder called ``Logs``, in a .txt file. Just attach it to your next comment.

Meanwhile, I will take a look and see if there is anything wrong with it.

[2018-07-23 14:51] ItaloKnox commented on #65
Oh, nevermind. We did some major changes in where the patch is installed and one little thing slipped by. It should be fixed now.

In case you still haven't fixed your game, just download this: https://07th-mod.com/rikachama/Tatarigoroshi-UI.7z

Thanks a lot!

[2018-07-23 16:23] Ryptahi commented on #65
Thank you. That seemed to fix the problem. Seems like the installer did install everything correctly, but made shaderassets0.assets as .backup. So just removing the backup at end would result in working menu.

[2018-07-23 16:36] ItaloKnox commented on #65
What actually happened is that the installer looks for a Steam dll to choose between Steam or DRM-free UI mods, but because we changed the folder where the installation happens, it was searching for the dll two folders above instead of the current folder. A simple change in the script fixed the issue. The backup is actually intended to save you from the trouble in case stuff like this happens. Giv

[2018-07-26 13:51] #65 closed

[2018-08-14 12:15] Bashnet opened #66 "Game stuck on title screen"
i installed the patch but the game seems to be stuck on the title screen. the menu options are not appearing. i checked if anyone had similar issues. i check the temp folder but i dint have a local.txt or an update.bat like you suggested for gagantous. i also installed the UI file you suggested for ryptahi, but it still didn't fix the issue.
<img width="686" alt="capture" src="https://user-images.

[2018-08-14 12:20] ItaloKnox commented on #66
Yeah, the ``local`` and ``update`` files are not available anymore because we ran into an issue with TLS on Github, but we have something to fix that sometime soon. But anyway, that isn't necessary or anything, and it really looks like the UI is broken for you.

Can you install [this](http://07th-mod.com/rikachama/Tatarigoroshi-UI.7z) and see if it fixes the issue? In any case, inside your ``Higur

[2018-08-14 13:08] Bashnet commented on #66
i installed the files, still didint work. so i replaced the original files and the menu showed up

<img width="685" alt="capture" src="https://user-images.githubusercontent.com/33022115/44093160-98e56392-9fca-11e8-8059-53a8c523b13c.PNG">

[2018-08-14 15:09] ItaloKnox commented on #66
That's odd. Just in case, is that the Steam version of the game?

[2018-08-14 17:22] Bashnet commented on #66
no its the mangaGamer version

[2018-08-14 19:07] enumag commented on #66
I assume you're playing with the original UI for now then? Can you re-create the error and then upload your output_log.txt?

Also did you get tatarigoroshi separately or in a pack purchase with all question arcs?

[2018-08-14 20:00] ItaloKnox commented on #66
I see why the menus didn't work, then. If you still want to get the UI mod, [this one](http://07th-mod.com/rikachama/Tatarigoroshi-UI_MG.7z) should work.

By the way, did you install it manually or using or installer? If you got the wrong UI mod using the installer that means it was an issue in our side, I'll look into it if that was the case.

[2018-08-14 23:02] Bashnet commented on #66
here's the txt file:
[output_log.txt](https://github.com/07th-mod/tatarigoroshi/files/2288732/output_log.txt)

[2018-08-18 19:00] enumag commented on #66
As I thought you got the wrong version of the assets installed. Maybe our detection which one should be used is wrong? We can't do anything about it unless you answer the question from my previous comment:

"Also did you get tatarigoroshi separately or in a pack purchase with all question arcs?"

[2018-08-18 20:04] ItaloKnox commented on #66
The detection should be fine, it's the same code since we introduced the UI mods. But we still need to know how the patch was installed, how it was bought and if my last suggestion worked or not.

[2018-08-29 15:10] ghost commented on #66
We just got more information from two users with this issue @ItaloKnox .
One person had bought the question arcs pack from MangaGamer.
The other had bought standalone Tatari from GOG.
Both people resolved the problem by reverting to the vanilla UI.  I told them they can try manually installing http://07th-mod.com/rikachama/Tatarigoroshi-UI_MG.7z to see if that works - will update if I get any feed

[2018-08-29 21:30] tellowkrinkle opened #67 "Unity version mismatch for Mac/Linux DRM-free assets bundle"
Game freezes with the error `Invalid serialized file version.  File: "<Long Path>/sharedassets0.assets" Expected version: 5.3.4p1. Actual version: 5.4.0f1.`

I noticed the Windows DRM-Free is 5.3.4p1 while the Mac/Linux one is 5.4.0f1

Here's the Mac GOG release's base files:
[Tatari-UI_UNIX_MG_Orig.zip](https://github.com/07th-mod/tatarigoroshi/files/2333833/Tatari-UI_UNIX_MG_Orig.zip)

[2018-08-30 04:40] enumag commented on #67
Yeah, 5.4.0f1 is the same version as on Steam so this should work: https://07th-mod.com/rikachama/Tatarigoroshi-UI_UNIX.7z

Can you test it?

[2018-08-30 06:55] TellowKrinkle commented on #67
My game expects version `5.3.4p1`, but for some reason both of the unix ones are for `5.4.0f1` even though I assume the `-MG` one should have been `5.3.4p1`-based

(And yes, I did test it, it didn't work)

BTW if you open an assets file in a hex editor, the first readable thing is the version number so if you want to check what version an assets file is, you can look at that.

The closest one I ha

[2018-08-30 06:58] TellowKrinkle commented on #67
At least when I downloaded them, the assets file in https://07th-mod.com/rikachama/Tatarigoroshi-UI_UNIX.7z and https://07th-mod.com/rikachama/Tatarigoroshi-UI_UNIX-MG.7z are identical

[2018-08-30 06:59] enumag commented on #67
Oh, ok. The UI is wrong. I'll generate new UI for the `5.3.4p1` version using your scripts and the vanilla version you provided.

[2018-08-30 18:52] enumag commented on #67
Try this one: https://www.dropbox.com/s/2dzv1cm4bwbpn0e/tata-assets-mac-mg.7z?dl=0

[2018-08-30 20:17] TellowKrinkle commented on #67
It appears to work

[2018-08-30 20:22] enumag commented on #67
Nice. @ItaloKnox, can you replace `Tatarigoroshi-UI_UNIX-MG.7z` with the zip from my last link?

[2018-08-30 20:51] ItaloKnox commented on #67
Of course, I'll take care of this later and close the issue afterward. Just got home and I'm honestly too tired to check the server.

[2018-08-30 21:58] ItaloKnox commented on #67
Finished before than I thought. lol

[2018-08-30 21:58] #67 closed

[2018-09-13 07:00] tellowkrinkle opened #68 "Possible subject mixup"
![image](https://user-images.githubusercontent.com/3315070/45471996-74a64b00-b6f8-11e8-9336-887f4ad9789a.png)
I think the line at the end of [this](https://github.com/07th-mod/tatarigoroshi/blob/1ab020ab5b6d8c06840e06cb05b469223de2190d/Update/tata_004.txt#L3616-L3623) should use `She` instead of `You`.  Does this seem right?

[2018-09-13 08:31] orian34 commented on #68
Maybe "I was told to" instead. Need a specialist on this

On Thu, Sep 13, 2018 at 9:00 AM tellowkrinkle <notifications@github.com>
wrote:

[2018-10-21 07:45] enumag commented on #61
Slaking is fixed now.

[2018-10-21 08:01] enumag commented on #61
Here are the 4 images effected by the "gyu" typo down under Bern's name. It is supposed to be "guy".

![si_onikakusi](https://user-images.githubusercontent.com/539462/47264452-f66b6e80-d517-11e8-94ac-6f6370e8f3ee.png)
![si_watanagasi](https://user-images.githubusercontent.com/539462/47264460-0a16d500-d518-11e8-84ac-d74f683ed066.png)
![si_tatarigorosi](https://user-images.githubusercontent.com/5394

[2018-10-21 10:28] enumag commented on #61
On the second line of the second image there is one more typo too. See https://github.com/07th-mod/watanagashi/issues/80.

[2018-10-21 10:31] enumag commented on #66
I'll have completely new UI packs ready for the next release. Hopefully that might fix this.

[2018-10-21 10:32] enumag commented on #68
cc @Norgus @DoctorDiablo

[2018-10-21 12:15] Norgus commented on #68
Agreed that it's "she" instead of "you".

[2018-10-21 12:18] #68 closed

[2018-10-21 12:18] enumag commented on #68
Done. Thanks Norgus!

[2018-11-15 00:36] TheCookieNoob opened #69 "Game keeps crashing"
I spent a long time today trying to get Tatarigoroshi running and for some reason it kept crashing.
I have tried it on both the Steam and DRM free GOG release, I keep getting the same error again and again.
I saw this thread https://github.com/07th-mod/tatarigoroshi/issues/66 and it's almost the same thing that was happening to me. When I installed everything and opened the game it would either sh

[2018-11-15 00:39] ItaloKnox commented on #69
Hi,

I'll need the ``output_log.txt`` file that should be inside the game folder (on ``HigurashiEp03_Data``) and the logs from the installer if you still have them. I'm pretty sure we have more information on this issue so I'm going to tag @enumag here to see if he remembers something.

For now just upload the logs you have so we can check them out.

[2018-11-15 01:16] ghost commented on #69
At one point I switched disks so I have 2 Logs folders. And the output log is from the crash folder.

[Logs1.zip](https://github.com/07th-mod/tatarigoroshi/files/2583230/Logs1.zip)
[output_log.txt](https://github.com/07th-mod/tatarigoroshi/files/2583234/output_log.txt)
[Logs.zip](https://github.com/07th-mod/tatarigoroshi/files/2583247/Logs.zip)

[2018-11-15 01:21] ItaloKnox commented on #69
Okay, the first thing I can see is that you are running version ``5.3.4p1`` instead of ``5.4.0f1`` (current on Steam). I think that's why you are running into compatibility issues since we have to use modded .dlls and UI files that are dependent on the latest version of the game.

I suggest you contact GOG if they are selling an old version of the game, or uninstall the game and install it again o

[2018-11-15 01:22] TellowKrinkle commented on #69
GOG has 5.3.4p1.  That's why we have two separate `assets` files, one for Steam and one for DRM-Free for Tatarigoroshi
IIRC the game complains a lot more if you mismatch those, so I would guess that isn't the issue

[2018-11-15 01:25] ItaloKnox commented on #69
You're right, I was in charge of doing that and I completely forgot about it. lol

Other than that, I can see that the UI mod is not working as intended since the game accuses it to be corrupted. I suggest going to our [wiki](https://github.com/07th-mod/guide/wiki/Higurashi-Part-1---Voice-and-Graphics-Patch) and reinstalling the UI mod manually to see if it changes anything.

[2018-11-15 01:29] ghost commented on #69
I have done it both with the installer and without it. Same error.
In regards to the Steam version I did try it out but I do not own it I only have a copie of the GOG release.

[2018-11-15 01:31] ItaloKnox commented on #69
We have a similar situation ongoing on Discord so you two probably are running into the same issue. Tatari, GOG, and the crashes. We will probably need some time to dig into this a little further.

I'll do my best to keep you updated.

[2018-11-15 01:35] ghost commented on #69
Thanks.
Hope you guys can figure it out, keep up the good work.

[2018-11-15 01:55] TellowKrinkle commented on #69
Could you try with this instead?
[Tatarigoroshi-UI_MG.zip](https://github.com/07th-mod/tatarigoroshi/files/2583340/Tatarigoroshi-UI_MG.zip)

[2018-11-15 12:18] ghost commented on #69
I had the normal UI and switched the file. It works.
Thanks you.

[2018-11-17 20:07] enumag commented on #69
We updated the installer to use the fixed UI as well. Closing.

[2018-11-17 20:07] #69 closed

[2018-11-17 20:08] #61 closed

[2018-11-17 20:08] enumag commented on #61
Fixed now.

[2018-11-17 20:10] enumag commented on #66
Our last release and the UI hotfix we released today should fix the problem. Open a new issue if the problem persists.

[2018-11-17 20:10] #66 closed

[2019-03-19 08:59] AbsolutelyDesignated opened #70 "Pink text and missing menu"
I'm using the GOG version of Tatarigoroshi with the latest 07th Mod. I used the full installation, both graphics and voice. When I started the game, it presented me with this:
![The two text boxes](https://user-images.githubusercontent.com/48712781/54592665-b5ea2100-49e1-11e9-9130-8a4a59166468.png)
The top box is what I was presented with when I first started the game. The bottom box is what I got

[2019-03-19 10:26] ItaloKnox commented on #70
This is a known issue and we are already working on a fix. To get your game working, go into the ``HigurashiEp03_Data`` folder inside your installation folder and then delete the following files:

* ``sharedassets0.assets``
* ``sharedassets0.assets.resS``

After that, rename the backup back to the original names:

* ``sharedassets0.assets.backup`` to ``sharedassets0.assets``
* ``sharedassets0.asse

[2019-03-19 13:31] enumag commented on #70
Wait what? Didn't we fix this recently?

[2019-03-19 13:34] ItaloKnox commented on #70
Unless you deployed a second fix I'm pretty sure this is still happening.
What is the current engine version for all versions of the game? I have
this lingering feeling that we need three versions and I need to deploy
some new logic to the installer to make it work.

Em ter, 19 de mar de 2019 10:31, Jáchym Toušek <notifications@github.com>
escreveu:

[2019-03-19 16:43] enumag commented on #70
I don't know. There are too many different platforms to get the game from now. And I'm not even sure if the version is the same for all operating systems or not.

[2019-03-19 17:16] ItaloKnox commented on #70
I guess we should collect some logs and see what we can do. Or maybe we can
postpone this a little and ask @drojf to implement the compilation during
installation. The web UI I'm working on should be done by the end of the
week, so there's a chance we'll be using the python installer as the
default soon enough.

Either way, I will take down the UI mod from the Tata installer. This
should give us t

[2019-03-19 17:22] enumag commented on #70
Compilation during installation would require UABE which is windows only. I have no idea if it can run on wine.

[2019-03-19 20:49] TellowKrinkle commented on #70
Just tested with the new python installer and it broke because we used the string `win` to represent Windows in the python files but `windows` in the JSON

With that fixed, it worked fine and I had no issues with my GOG Tatarigoroshi

[2019-04-13 10:27] thewilder opened #71 "GOG version blank screen."
Hy there. After I installed every patch with the latest installer, I just get a blank screen upon launch. Any idea?

[2019-04-13 12:28] enumag commented on #71
Can you share your output_log.txt? Should be in your game directory.

Most likely it's a bad unity version issue.

[2019-04-13 12:35] thewilder commented on #71
Thanks for the fast reply. Here you go!

[output_log.txt](https://github.com/07th-mod/tatarigoroshi/files/3076172/output_log.txt)

[2019-04-13 12:40] enumag commented on #71
Yeah... `Expected version: 5.4.0f1. Actual version: 5.3.4p1.`

Overwrite the existing UI files with these: https://07th-mod.com/rikachama/Tatarigoroshi-UI_MG.7z

@ItaloKnox Is the detection still broken for GOG?

[2019-04-13 12:53] thewilder commented on #71
Actually, I did find those modified UI files and applied them earlier, but to no avail. It still won't start up.

[2019-04-13 12:56] enumag commented on #71
Strange... can you send me the UI files from vanilla version? They should still be in the game directory, just renamed to `<original name>.backup`.

[2019-04-13 13:24] thewilder commented on #71
Alright, just did a fresh install, same error. Also, I noticed that the installer for me always freezes when it tries to copy the intro movie.
[HigurashiEp03_Data.zip](https://github.com/07th-mod/tatarigoroshi/files/3076235/HigurashiEp03_Data.zip)

[2019-04-13 13:42] enumag commented on #71
I think I sent you the wrong link earlier.

https://07th-mod.com/rikachama/Tatarigoroshi-UI.7z

[2019-04-13 13:50] thewilder commented on #71
Thank you, that fixed it right away!

[2019-04-13 13:54] enumag commented on #71
Good.

Note for us: GOG is using the same version as Steam but the installer does not recognize it correctly and instead installs the MG version. Most likely because GOG is DRM-free.

[2019-04-13 19:42] ItaloKnox commented on #71
@thewilder Can you show me a picture of the game folder with .exe and all files visible? I will push a fix based on that.

[2019-04-13 23:35] TellowKrinkle commented on #71
Ahh GOG must have finally gotten the music update, I'll check later
Other note: latest Python patcher chooses based on Unity version, not steaminess

[2019-04-14 02:58] thewilder commented on #71
@ItaloKnox Here you go. Patcher kept freezing during unpacking the OP, so it couldn't delete the temp files.

![higurashi](https://user-images.githubusercontent.com/30772343/56087762-4e50b580-5e69-11e9-901e-02ce017ec78f.png)

[2019-04-14 03:05] ItaloKnox commented on #71
Thanks. The Windows-only installer won't last much longer but [I pushed a band-aid fix for the issue](https://github.com/07th-mod/resources/commit/ca2bf08cc6fc119a1d13e61737adc02c0a31ccb9#diff-0e1d31f911f829c5458fcf54a854588e).

[2019-04-14 03:05] #71 closed

[2019-04-17 11:05] DuncanCasteleyn commented on #70
I also have this issue on Tatarigoroshi, all buttons and menus are pink, my cg is black

[2019-04-17 14:39] enumag commented on #70
@DuncanCasteleyn

Steam / MG / GOG?
Windows / Linux / Mac?
Can you upload the vanilla UI? It should be in the game directory (`sharedassets0.assets.backup` and `sharedassets0.assets.resS.backup`).

[2019-04-17 17:30] DuncanCasteleyn commented on #70
Steam
Linux

Side note: the linux versions starting from chapter 3 is broken and crashes the entire linux desktop to get it working i'm forced to to use Proton version 3.16-4, which means i'm essentially using the windows version of the game, I was able to resolve the issue by installing the windows version of the UI. Maybe the orginal issue opener installed the UI for unix?

The installer seems t

[2019-04-17 18:08] ItaloKnox commented on #70
@enumag

I used my server to grab the latest Linux version of the UI. [Here it is](http://172.110.6.39/ddl/Tata-UI_UNIX.7z).

[2019-04-18 16:27] enumag commented on #70
@DuncanCasteleyn Can you reinstall the game to get me both of the files?

(The files Italo uploaded are for steam version, not GOG.)

[2019-04-18 16:33] enumag commented on #70
Actually the file you sent seems to be Windows version. Not linux.

[2019-04-18 17:04] enumag commented on #70
Try this. If it doesn't work then reinstall the game and send me the vanilla files.

https://www.dropbox.com/s/lytw78o8u26ouvm/Tatarigoroshi_steam_mac.7z?dl=0

[2019-04-20 09:28] DuncanCasteleyn commented on #70
@enumag The game without patches is broken so I'm using Proton (which is based on Wine, see https://github.com/ValveSoftware/Proton/), since the Windows version is working i'm using Proton to play it with the patch which is working fine aside from some small bugs, not related to this patch.

[2019-04-20 09:31] enumag commented on #70
In that case I'm guessing you actually need the windows version of the UI. Did you try that? Is it working?

[2019-04-20 10:16] DuncanCasteleyn commented on #70
Like I said in a previous comment I'm using that version.

[2019-04-20 10:19] enumag commented on #70
From your recent comments I have no idea if it's working or not and what you have and haven't tried...
So can we close this issue? If not, give me more details.

[2019-04-20 10:20] DuncanCasteleyn commented on #70
https://github.com/07th-mod/tatarigoroshi/issues/70#issuecomment-484187101

[2019-04-20 10:38] enumag commented on #70
Ah ok.

[2019-04-20 10:38] #70 closed

[2019-08-08 15:59] onicept opened #72 "Cannot install patch due to Unity version mismatch"
The installer version is 0.0.6.9
The game is from Mangagamer, the Question Arc bundle
My OS is Windows 10 1903

The error message appears when I click 'Select Game Executable' and select the HigurashiEp03.exe file.

![Annotation 2019-08-08 161030](https://user-images.githubusercontent.com/53910579/62717674-9d1bef80-ba04-11e9-876e-fe857e257ab4.png)
[MOD-INSTALLER-LOG-2019-08-08_17-33-30.txt](https:

[2019-08-08 19:54] enumag commented on #72
Fixed.

[2019-08-08 19:54] #72 closed

[2019-08-20 22:03] bugmen0t opened #73 "Game crashes after showing logos"
Linux, GOG
Player.log - https://0bin.net/paste/yzX1q31aBXPVP67+#T1O9NvJQ-grtUa7eTGiQyiFdSNfs6EHHZ7aVgven3KS

[2019-08-20 22:09] bugmen0t commented on #73
N.B.: game is playable if I skip opening somehow (e.g. by holding ctrl)

[2019-08-20 22:12] TellowKrinkle commented on #73
It looks like the opening video is failing to load and somehow breaking something.  If you rename the video in the `StreamingAssets/movies` folder so the game can't find it does that prevent the crash?

[2019-08-20 22:19] bugmen0t commented on #73
Renaming prevents the crash, [Player.log](https://0bin.net/paste/NPlwssbAc3-aT3qw#pHfkohqCMzj9DcQ2wS3XvtYyo6dPPi8w7WMTTLQQIpN)

[2019-08-20 22:25] TellowKrinkle commented on #73
The issue may be related to https://issuetracker.unity3d.com/issues/movietexture-fmod-error-when-trying-to-play-video-using-www-class
A person on https://forum.unity.com/threads/movietexture-error-cannot-create-fmod-sound-instance-for-resource-null.379100/ said renaming the ogv to ogg worked for them, so try doing that and then using this DLL [Assembly-CSharp.dll.zip](https://github.com/07th-mod/t

[2019-08-20 22:30] TellowKrinkle commented on #73
Wait that's an Onikakushi DLL use this one
[Assembly-CSharp.dll.zip](https://github.com/07th-mod/tatarigoroshi/files/3522856/Assembly-CSharp.dll.zip)

[2019-08-20 22:49] bugmen0t commented on #73
|filename |original dll |modified dll|
|- |- |-|
|mv07.ogv |crash |no crash, no opening|
|mv07.ogg |no crash, no opening |crash|

[Player.log from mv07.ogg + modified dll](https://0bin.net/paste/2P0WXJ0ehhV4x-C7#mbVhBYpPQ27hZBhvGk29MeWCWpCwYEvbu0jkt0QmeBp)

[2019-08-21 02:08] TellowKrinkle commented on #73
Okay, so that doesn't help...
I'm going to guess this is a Unity bug?  Not sure though.  If you happen to have a copy of the installer from before the Apr 1 patch, see if you can install the mod over that and have it work.  It uses an older version of Unity.

[2020-01-27 21:55] hokster1 opened #74 "Game won't save."
For some reason I can't click on the save button on the "Save & Load" screen and while playing the game, no matter how much I press F5 or click on the "Quick Save" button, I can't get back even if I press F7 or click on the "Quick Load" button. What am I supposed to do?
![higu3](https://user-images.githubusercontent.com/60367897/73217162-27344d80-4136-11ea-9694-7131607cff3c.png)

[2020-01-27 22:07] ItaloKnox commented on #74
There is a chance you are having permission issues on Windows. Can you attach your ``output_log.txt`` file in your next comment? It should be inside the game folder, in ``HigurashiEp03_Data``.

[2020-01-27 22:29] hokster1 commented on #74
[output_log.txt](https://github.com/07th-mod/tatarigoroshi/files/4119656/output_log.txt)

[2020-01-27 22:35] ItaloKnox commented on #74
The error below seems to pop up a little too often, but I think it's not related.

``Error: Cannot create FMOD::Sound instance for resource ¸tÀ<Í0×˜, (Operation could not be performed because specified sound/DSP connection is not ready. )``

Can you check if the unmodded game can save normally? It might also sound dumb, but sometimes a Windows reboot might fix the issue.

It should be also wor

[2020-01-27 22:40] enumag commented on #74
@hokster1 You can only save in the main story. Not in tips.

[2020-01-27 22:40] #74 closed

[2020-02-10 15:14] Valkion24 opened #76 "Game don't start after patch"
I have installed the patch with the patcher and the game don't run I have a black screen and nothing happen....
I am on windows 8.1 and the steam version.
Please help me because episode 1 and 2 run perfectly

[2020-02-10 15:16] enumag commented on #76
Give us the output_log. See http://07th-mod.com/wiki/Support/#how-to-properly-report-issues

[2020-02-10 15:21] Valkion24 commented on #76
[output_log.txt](https://github.com/07th-mod/tatarigoroshi/files/4181576/output_log.txt)

[2020-02-10 21:48] ItaloKnox commented on #76
You need to update your game. The patch will not work on old versions of the game.

[2020-02-10 22:38] enumag commented on #76
@ItaloKnox Actually I think this is installer failure. We do support multiple versions for Tatarigoroshi because MG didn't to a good work with their releases. `5.3.4p1` is actually one of our supported versions.

[2020-02-10 22:43] ItaloKnox commented on #76
You're actually right. I checked the wiki before closing the issue and this version wasn't listed under any of the storefronts we support. However, it does really exist in the installer. I suppose @Valkion24 installed the patch manually, if that's the issue.

In our Wiki:
5.3.5f1 = MangaGamer
5.4.0f1 = GOG and Steam

We need clarification of the storefront it was bought from, so I can update the w

[2020-04-13 14:29] Tymaeus opened #77 "Name order correction"
In Tatarigoroshi Epilogue 2, one of the captions during Keiichi's interview reads "After Maebara Keiichi's failed suicide attempt on a certain August day two months after the disaster, he was diagnosed with a mental disorder and transported to a treatment facility.". "Maebara Keiichi" should be changed to "Keiichi Maebara" for consistency with the name order.

[2020-05-23 03:42] zarielan opened #79 "Typo in script"
In [tata_009.txt line 3794](https://github.com/07th-mod/tatarigoroshi/blob/master/Update/tata_009.txt#L3794), the line:

should be:

[2021-03-15 00:25] drojf opened #87 "Text Log gets stuck on screen"
We had this report on tatarigoroshi on discord:

The problem: I've been playing Tatarigoroshi after downloading the mod, but sometimes when opening the text log, it freezes and does not let me close it or scroll. The only thing it let me do was open the menu, but then even clicking "exit scenario" didn't actually close it, just removed the characters and kept the log in place. It's happened twice

[2021-03-26 05:29] #79 closed

[2021-07-25 00:37] drojf opened #89 "Wrong BGM in OG BGM mode near start of game (Unconfirmed)"
Note: GIN is intending to check/fix this together with all the question arcs BGM script changes. I'm just recording this so we don't forget it later.

----

At the start of tatari, `lsys28` plays.

In "normal BGM/Mangagamer BGM mode, we play: https://www.youtube.com/watch?v=XR2R3eIHbts&t=335s (we don't want to change this - I've just provided it for comparison). This is what Mangagamer provides fo